<div class="save-changes">
  <div class="container">
    <div class="flex a-i-center j-c-space-between">
      <div></div>
      <div><p>SAVE CURRENT CHANGES</p></div>
      <div><button class="btn btn-danger" (click)="onClick.emit()">SAVE</button></div>
    </div>
  </div>
</div>