<a [routerLink]="['/']" class="back-link">Home</a>
<div class="flex m-t-35">
  <div class="flex-item-1 p-r-30">
    <h3>Contacting support team</h3>
    <p>
      Changing this information will also affect your name and appearance on all other Ionic websites like the Forum and
      Market
    </p>
  </div>
  <div class="flex-item-1">
    <h4 class="uppercase">request information</h4>
    <form class="form-container m-t-20 m-b-45 relative" [formGroup]="form">
      <a-select class="form-item" placeholder="How we may assist you" formControlName="topic" [form]="form">
        <div a-select-option value="Registering a Geomain Number">
          <div a-select-text>Registering a Geomain Number</div>
        </div>
        <div a-select-option value="Registering a Geomain Name">
          <div a-select-text>Registering a Geomain Name</div>
        </div>
        <div a-select-option value="Update my Email or Geomain">
          <div a-select-text>Update my Email or Geomain</div>
        </div>
        <div a-select-option value="Ads">
          <div a-select-text>Ads</div>
        </div>
        <div a-select-option value="GeoMarket">
          <div a-select-text>GeoMarket</div>
        </div>
        <div a-select-option value="Page Security">
          <div a-select-text>Page Security</div>
        </div>
        <div a-select-option value="Qr Code">
          <div a-select-text>Qr Code</div>
        </div>
      </a-select>
      <input-text class="form-item" formControlName="email" [form]="form"
                  [disabled]="authorizationService.isAuthenticated">Email</input-text>
      <input-textarea class="form-item" formControlName="message" [form]="form">Enter details</input-textarea>
      <loader #loader></loader>
    </form>

    <button class="btn" (click)="submit()">SUBMIT</button>

  </div>
</div>