h5 {
  text-transform: uppercase;
}

.geomain-head {
  padding: 10px 20px 15px;

  a {
    font-size: 16px;
    font-weight: 600;
    color: #176bda;
    text-decoration: none;
  }
}

.map {
  height: 190px;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;

  agm-map {
    height: 100%;
  }
}

.qr-code {
  height: 190px;
  width: 190px;
  min-width: 190px;
  max-width: 190px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.03);
  margin-left: 15px;
  padding: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.geoname-item {
  &:hover {
    background: #eeedef;
  }

  .geoname-name {
    font-size: 15px;
    font-weight: 600;
    color: #176bda;
    margin-bottom: 5px;
  }

  span {
    font-size: 11px;
    color: #606d70;
    display: block;
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
    color: #0c242a;
    margin: 3px 0 0;
  }
}