<h5 class="m-t-45 m-b-20">Information</h5>
<div class="content" id="information-section">
  <div class="form-container relative">
    <div class="geomain-head" *ngIf="!itemName?.name">
      <h3>{{ item?.tag }}</h3>
      <a>{{ item?.numberMasked }}</a>
    </div>
    <div class="geomain-head" *ngIf="itemName?.name">
      <h3>{{ itemName?.name }}</h3>
      <a *ngIf="item.number">{{ item?.numberMasked }}</a>
    </div>

    <a-select *ngIf="itemName?.number"
              placeholder="Status"
              class="form-item"
              [disabled]="!helpers.isMine(item?.ownerId)"
              [(ngModel)]="item.visitorPolicy"
              (change)="updatePolicy()">
      <div a-select-option *ngFor="let vp of VISITOR_POLICY.list()" attr.value="{{ vp.value }}">
        <span a-select-text>{{ vp.name }}</span>
      </div>
    </a-select>

    <a-select *ngIf="itemName?.number"
              placeholder="Connect to geoname"
              class="form-item"
              [value]="linkedGeonames[0]?.name"
              [disabled]="!helpers.isMine(item?.ownerId)">

      <div *ngFor="let g of list$ | async"
           a-select-option-disabled
           attr.value="{{ g?.name }}"
           class="geoname-item"
           [ngClass]="{ selected : g?.id == item?.id }"
           (click)="linkGnames(g?.id)">

        <div a-select-text class="geoname-name">{{ g?.name }}</div>

        <div *ngIf="g?.linkedGeospot?.id == item?.id ">
          <span>Connect to geospot</span>
          <h3>{{ item?.tag || item.numberMasked }}</h3>
        </div>

        <div *ngIf="g?.linkedGeospot?.id !== item?.id ">
          <span>Geoname is empty</span>
        </div>

        <loader #gnamesLoader></loader>

      </div>

    </a-select>

    <input-textarea *ngIf="itemName?.number"
                    [disabled]="!helpers.isMine(item?.ownerId)"
                    class="form-item" [(ngModel)]="item.about">
      About
    </input-textarea>

    <loader #infoLoader></loader>
  </div>
</div>

<div *ngIf="itemName?.number">
  <h5 class="m-t-50 m-b-20">Photos</h5>
  <div id="photos-section">
    <photos [geomain]="item"></photos>
  </div>
</div>

<div *ngIf="itemName?.number">
  <h5 class="m-t-50 m-b-20">Place data</h5>
  <div class="content relative" id="place-section">
    <div class="form-container">
      <!--<input-text [disabled]="true"-->
      <!--class="form-item" value="425-475, East 72nd Street, New York, 10021, USA">-->
      <!--Address-->
      <!--</input-text>-->
      <input-text [disabled]="false" class="form-item" [(ngModel)]="item.phone">
        Phone number
      </input-text>
      <input-text [disabled]="false" class="form-item" [(ngModel)]="item.email">
        Email
      </input-text>
      <input-text [disabled]="false" class="form-item" [(ngModel)]="item.website">
        Web site
      </input-text>
      <!--<input-text [disabled]="true" class="form-item" [value]="item?.lat">-->
      <!--Latitude-->
      <!--</input-text>-->
      <!--<input-text [disabled]="true" class="form-item" [value]="item?.lon">-->
      <!--Longitude-->
      <!--</input-text>-->
      <a-select placeholder="Work hours"
                position="to-top"
                class="form-item working-hours-select"
                [value]="
              item?.schedule?.today?.enabled
              ? 'Open • '+item?.schedule?.today?.timeFrom+' to '+item?.schedule?.today?.timeTo
              : 'Closed'">
        <div a-select-option-disabled>
          <working-hours #workingHours [geomain]="item" (onUpdate)="updateWorkingHours($event)">
            <loader #workingHoursLoader></loader>
          </working-hours>
        </div>
      </a-select>
    </div>
  </div>
</div>

<div *ngIf="itemName?.number">
  <h5 class="m-t-50 m-b-20">Map</h5>
  <div class="content p-20 flex a-i-center" id="map-section">
    <div class="map">
      <agm-map [zoom]="15" [latitude]="item?.lat" [longitude]="item?.lon">
        <agm-marker
             [latitude]="item?.lat"
             [longitude]="item?.lon"
             [iconUrl]="helpers.img('pin.svg')"
        ></agm-marker>
      </agm-map>
    </div>
    <div class="qr-code">
      <img [src]="item?.qrCodeLink" alt="">
    </div>
  </div>
</div>

<loader #loader></loader>

<save-changes *ngIf="item.isChanged && helpers.isMine(item?.ownerId)" (onClick)="updateGeomain()"></save-changes>