<modal #modal>
    <p>
        <ng-content></ng-content>
    </p>
    <button class="btn m-r-30" (click)="onSuccess(); onSuccessEvent.emit()">Confirm!</button>
    <button class="btn btn-cancel" (click)="modal.close()">Cancel</button>
</modal>