<div class="relative">
  <div *ngIf="(list$ | async) as list">
    <ul>
      <li *ngFor="let item of list">
        <visit-card [routerLink]="['/business-cards', 'card', item.id, 'info']" [card]="item"></visit-card>
      </li>
    </ul>
    <div class="text-center" *ngIf="!list.length">
      <h3>No items found</h3>
    </div>
    <div *ngIf="list.length">
      <pagination [pagination]="pagination" (onChange)="changePage($event)"></pagination>
    </div>
  </div>
  <loader #loader></loader>
</div>