<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>Can I register a Trademarked name?</accordion-heading>
    <p>
      It is virtually impossible to monitor all registrations to ensure that Trademarks are only
      registered by Trademark owners. Also, Geomain is not in the business of Trademark enforcement,
      so a Trademarked name can technically be registered by anybody in so far as the Trademark owner does not
      contest it. When and if a contest is made, then Geomain will always respect the rights of the
      Trademark owner and award the Geomain to the owner. This means that if you register a name
      that is a registered Trademark in any jurisdiction, then you are doing so at your own risk
      as it may be forfeited without compensation should the Trademark owner claim it at any time.
      In cases where there may be multiple Trademark owners across different jurisdictions, then
      the Geomain will be awarded to the Trademark owner with the earliest proven registration
      date in any jurisdiction.
    </p>
  </accordion-group>
</accordion>