<div class="upload-avatar relative">

  <div class="user-avatar">

    <div *ngIf="!user?.photoLink" class="avatar-empty"></div>

    <div *ngIf="user?.photoLink"
         [ngStyle]="{ 'background-image' : 'url('+user?.photoLink+')'}"></div>

    <a *ngIf="user?.photoLink"
       href="javascript:void(0)"
       class="remove-avatar"
       (click)="removeAvatar()">
      <img [src]="helpers.img('trash.svg')" alt="">
    </a>

  </div>

  <div class="upload-avatar-form">

    <span>Your Avatar</span>
    <form class="upload-form" #fileForm>
      <div class="btn">Upload</div>
      <input name="file" type="file" (change)="uploadAvatar(fileForm)">
    </form>

  </div>

  <loader #loader></loader>

</div>

<confirm #confirm>Are you sure you want to delete the avatar?</confirm>
<success #success>Success!</success>