<div class="flex j-c-space-between registrar-head m-b-35">
  <div>TOP GEOMAINS LTD. HK</div>
  <div>Avaliable: $300.00 USD</div>
</div>

<div class="flex">
  <div class="flex-item-1">
    <h3 class="m-t-0">Register a new Geoname for Sally Potter</h3>
    <p>
      Changing this information will also affect your name and
      appearance on all other Ionic websites like the Forum and Market
    </p>

    <h5 class="ttu m-t-50 m-b-20">USER information</h5>
    <div class="content-small">
      <form action="" class="form-container">
        <input-text [disabled]="true" class="form-item" value="Sally Potter">Customer name</input-text>
        <input-text [disabled]="true" class="form-item" value="76093-00058949">Customer number</input-text>
        <input-text [disabled]="true" class="form-item" value="henderson.jacobs@yahoo.com">Customer email</input-text>
        <input-text [disabled]="true" class="form-item" value="+1 800 234 23 32">Phone</input-text>
      </form>
    </div>
  </div>
  <div class="flex-item-1">
    <h5 class="ttu m-t-0 m-b-20">Geoname information</h5>
    <div class="form-container">
      <input-text class="form-item" value="Sally">Enter Geoname</input-text>
      <div class="form-item">
        <radiogroup name="Select categoty">
          <radio class="m-r-50" radioname="type">Personal</radio>
          <radio class="m-r-50" radioname="type">Business</radio>
          <radio radioname="type" [checked]="true">Government</radio>
        </radiogroup>
      </div>
      <div class="form-item p-l-20 p-r-20 p-b-15 range-slider">
        <p class="p-small fw600 m-b-0">Terms</p>
        <p class="m-t-0 fw600 m-b-15">{{ years }} year(s)</p>
        <range [options]="rangeOptions" [(ngModel)]="years"></range>
      </div>
      <div class="form-item renew-form-info">
        <div class="p-l-20 p-r-20 p-t-15 p-b-15">
          <div>
            <p class="p-small m-b-5">Totlal price</p>
            <div class="price">US $15,17</div>
          </div>
          <div>
            <p class="p-small m-t-30 m-b-5">Totlal price</p>
            <p class="p-info m-t-0 m-b-5">
              2 yers terms: US $10,99 / Personla geoname: US $29,99 / Premium geoname: US $9,99
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="m-t-85">
      <button class="btn m-r-30">REGISTER THIS GEONAME</button>
      <button class="btn btn-cancel">CANCEL</button>
    </div>
  </div>
</div>