<h2>
  My Geomains
  <!--<button class="add-button"></button>-->
</h2>

<ul class="link-tabs">
  <li routerLinkActive="active"><a [routerLink]="['geospots']">Geospots</a></li>
  <li routerLinkActive="active"><a [routerLink]="['geonames']">Geonames</a></li>
</ul>

<router-outlet></router-outlet>