.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: rgba(255,255,255,.6);
    border-radius: 5px;
    //overflow: hidden;
    //box-shadow: 0 0 0 50px rgba(255, 255, 255, .6);
}

.loader {
    width: 68px;
    height: 68px;
    background: #fff;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 25px rgba(0,0,0,.1), 0 10px 40px 0 rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        display: block;
        content: "";
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: url("../../../Theme/img/loader.svg");
        background-position: center center;

        animation: rotate 1.5s steps(12) infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}