h5 {
  text-transform: uppercase;
}

.privacy-switch {
  position: relative;

  my-switch {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -11px;
  }
}

p {
  font-size: 15px;
  line-height: 1.47;
  color: #0c242a;
  opacity: 1;

  .p-t-5 {
    padding-top: 3px !important;
  }
}

h4 {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 600;
  color: #0c242a;
  margin: 0;
}