<h5 class="m-t-45 m-b-20">Security</h5>
<div class="content relative">
  <div class="form-container">
    <div class="form-item privacy-switch">
      <input-text [disabled]="true" value="Enable enter passcode">Privacy settings</input-text>
      <my-switch #switch [checked]="item.security == 'PIN'" (change)="toggleSequrity(switch.checked)"></my-switch>
    </div>
    <password [(ngModel)]="code" *ngIf="switch.checked" class="form-item">Security enter passcode</password>
  </div>
  <loader #codeLoader></loader>
</div>
<button class="btn m-t-20" *ngIf="code" (click)="savePinSequrity()">Save pin</button>

<p class="flex a-i-flex-start m-t-50">
  <span class="p-t-5">
    <img [src]="helpers.img('alert-triangle.svg')" alt="">
  </span>
  <span class="p-l-10">
    Changing this information will also affect your name and appearance on all other Ionic websites like the Forum and
    Market In order to begin tracking errors in your Ionic app
  </span>
</p>

<h5 class="m-t-110 m-b-20">Delete geospot</h5>
<div class="content p-t-30 p-b-30 p-r-20 p-l-20">
  <div class="flex j-c-space-between a-i-center">
    <div><h4>Deleting geospot with lossing all data</h4></div>
    <div><button class="btn btn-danger btn-small p-l-30 p-r-30" (click)="deleteGeospot()">Delete</button></div>
  </div>
</div>

<delete-geomain #confirmDelete title="Delete Geospot">
  <loader #loader></loader>
</delete-geomain>