<ul class="link-tabs m-b-35">
  <li routerLinkActive="active"><a [routerLink]="['basic']">Basic Info</a></li>
  <li routerLinkActive="active"><a [routerLink]="['managment']">CSR Managment</a></li>
</ul>

<router-outlet></router-outlet>