<div class="flex a-i-center j-c-space-between m-t-20">
  <a [routerLink]="['/registrar', 'account', 'basic']" class="back-link">BASIC INFO</a>
</div>

<div class="flex">
  <div class="flex-item-1">
    <h3 class="m-t-35">Top up your balance</h3>
    <p>
      Changing this information will also affect your name and<br/>
      appearance on all other Ionic websites like the. Changing<br/>
      this information will also affect your name and appearance<br/>
      on all other Ionic websites like the.
    </p>
  </div>
  <div class="flex-item-1">
    <h5 class="ttu m-t-0 m-b-20">Balance information</h5>
    <div class="form-container">
      <div class="form-item account-form-info">
        <div class="p-l-20 p-r-20 p-t-15 p-b-15">
          <div>
            <p class="p-small m-b-5">Balance</p>
            <div class="price">US $15,17</div>
          </div>
        </div>
      </div>
      <a-select class="form-item" placeholder="Payment methods" value="Bank wire">
        <div a-select-option attr.value="Bank wire">
          <span a-select-text>Bank wire</span>
        </div>
      </a-select>
    </div>

    <h5 class="ttu m-t-35 m-b-20">paymaentt information</h5>
    <form class="form-container">
      <input-text class="form-item" value="botsford_dell@lubowitz.net">Paypal email</input-text>
      <input-text class="form-item" value="US $200">Amount</input-text>
    </form>

    <div class="m-t-35">
      <button class="btn">TOP UP NOW</button>
    </div>
  </div>
</div>