<footer>
    <div class="container flex a-i-center j-c-space-between">

        <div class="f-left-content">
            <!--<div>-->
                <!--<span class="f-logo">geomain</span>-->
            <!--</div>-->
            <div class="flex a-i-center j-c-center">
                <div class="copyright">©2018 Geomain®. All Rights Reserved</div>
            </div>
        </div>

        <div class="apps">
            <a><img [src]="helpers.img('ios.svg')" alt=""></a>
            <a><img [src]="helpers.img('android.svg')" alt=""></a>
        </div>
        <div class="social-links">
            <ul class="flex a-i-center">
                <li><a><img [src]="helpers.img('social/geo.svg')" alt=""></a></li>
                <li><a><img [src]="helpers.img('social/facebook.svg')" alt=""></a></li>
                <li><a><img [src]="helpers.img('social/twitter.svg')" alt=""></a></li>
                <li><a><img [src]="helpers.img('social/instagram.svg')" alt=""></a></li>
                <li><a><img [src]="helpers.img('social/linked-in.svg')" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>