footer {
  height: 60px;
  background: #e7e3eb;

  .container {
    height: 60px;
  }
}

.f-logo {
  font-size: 28px;
}

.copyright {
  font-size: 13px;
  margin-right: 25px;
}

.f-left-content {
  margin-right: auto;
}

.apps {
  margin-right: 30px;
  display: flex;

  a {
    margin-left: 20px;
  }

  img {
    display: block;
  }
}

.social-links {

  span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  img {
    display: block;
  }
}

.dropdown {
  > a {
    display: inline-flex;
    white-space: nowrap;
    height: 35px;

    img {
      margin-right: 10px;
    }
  }

  &:hover {
    .dropdown-content {
      display: flex;
    }
  }
}

.dropdown-content {
  top: auto;
  bottom: 100%;
  flex-wrap: wrap;
  width: 500px;

  li {
    width: 33.3333%;
  }

  a {
    align-items: flex-start;
    min-height: 70px;
    padding: 20px 23px;

    img {
      margin-right: 10px;
    }

    div {
      font-size: 13px;
      span {
        font-size: 16px;
        color: #177ef3;
        display: block;
        margin-bottom: 10px;
        line-height: 0.6;
      }
    }
  }
}