<div class="card-content" *ngIf="card$ | async as card">
  <h5 class="m-t-55 m-b-20 ttu">Information</h5>
  <form class="form-container">
    <div class="form-item form-item-card">
      <div class="visit-card-image">
        <div><img [src]="card.visitImage" alt=""></div>
      </div>
      <button class="btn btn-small">
        <img [src]="helpers.img('share.svg')" alt="" class="m-r-10">
        Share
      </button>
    </div>
    <input-text [disabled]="true" class="form-item" [value]="card.cardName">Name</input-text>
    <input-text [disabled]="true" class="form-item" [value]="card.position">Position</input-text>
    <input-text [disabled]="true" class="form-item" [value]="card.website">Website</input-text>
    <input-text [disabled]="true" class="form-item" [value]="card.workPhone">Phone</input-text>
    <input-text [disabled]="true" class="form-item" [value]="card.email">Email</input-text>
  </form>

  <div *ngIf="helpers.isMine(card.owner.id)">

    <h5 class="m-t-50 m-b-20 ttu">Delete CARD</h5>
    <div class="content p-t-30 p-b-30 p-r-20 p-l-20">
      <div class="flex j-c-space-between a-i-center">
        <div><h4>Deleting visit card with lossing all data</h4></div>
        <div>
          <button class="btn btn-danger btn-small p-l-30 p-r-30" (click)="deleteCard()">
            Delete
          </button>
        </div>
      </div>
    </div>

    <confirm #confirm>
      Are you sure you want to delete the business card
    </confirm>

  </div>

</div>