.card-content {
  max-width: 515px;
}

.form-item-card {
  padding: 20px 20px 25px;
  display: flex;
  justify-content: space-between;
}

.visit-card-image {
  width: 105px;
  max-width: 105px;
  height: 105px;
  border-radius: 100%;
  overflow: hidden;
  padding: 17px;
  background: #eeedef;

  div {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

h4 {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 600;
  color: #0c242a;
  margin: 0;
}