<div class="flex j-c-space-between">
  <div class="aside">
    <ul class="aside-links">
      <li routerLinkActive="active"><a [routerLink]="['privacy']">Privacy</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<scroll-to-top position="right-bottom"></scroll-to-top>