.switch {
  cursor: pointer;

  input {
    display: none;
  }

  .switch-item {

    width: 41px;
    height: 22px;
    border-radius: 11px;
    background-color: #eeedef;
    display: block;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #0c242a;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 3px;
      transition: .2s;
    }
  }

  input:checked + .switch-item {
    &:before {
      transform: translate3d(19px, 0, 0);
    }
  }
}