<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>What is a Geomain Accredited Registrar?</accordion-heading>
    <p>
      A Geomain Accredited Registrar is a legally entity that has been approved by the
      Geomain Organization to register Geomain Names. Much in the same way as Domain
      Registrars are approved by the ICANN Organisation, Geomain Registrars also need
      to go through an accreditation process before they can qualify to offer Geomain
      Names registration services.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How do I sign up to be a Registrar?</accordion-heading>
    <p>
      Please visit the Registrar link in the menu at <a href="http://www.geomain.org">www.geomain.org</a>.
    </p>
  </accordion-group>
</accordion>