<header>

  <div class="container flex a-i-center j-c-space-between">

    <div class="logo">
      <a routerLink="/">
        <img [src]="helpers.img('logo.svg')" alt="">
        <div>
          geomain
          <span *ngIf="user?.isRegistrar">Registrars</span>
        </div>
      </a>
    </div>

    <div class="navigation">
      <ul class="flex a-i-center"
          *ngIf="!authorizationService.isAuthenticated || user?.isPersonal">
        <li routerLinkActive="active"><a [routerLink]="['/home']">Explore</a></li>
        <li *ngIf="authorizationService.isAuthenticated" routerLinkActive="active"><a [routerLink]="['/my-geomains']">My geomains</a></li>
        <!--<li *ngIf="authorizationService.isAuthenticated" routerLinkActive="active"><a [routerLink]="['/favorites']">Favorites</a></li>-->
        <li *ngIf="authorizationService.isAuthenticated" routerLinkActive="active"><a [routerLink]="['/business-cards']">Business cards</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/faq']">Faq</a></li>
        <li routerLinkActive="active" class="nav-dropdown-container">
          <a>More</a>
          <div class="nav-dropdown">
            <ul>
              <!--<li routerLinkActive="active"><a [routerLink]="['/who-is']">Who is</a></li>-->
              <li routerLinkActive="active"><a [routerLink]="['/about']">About geomain</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/terms']">Terms of usage</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/privacy-policy']">Privacy policy</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/support']">Support</a></li>
            </ul>
          </div>
        </li>
      </ul>

      <ul class="flex a-i-center"
          *ngIf="authorizationService.isAuthenticated && user?.isRegistrar">
        <li routerLinkActive="active"><a [routerLink]="['/registrar/dashboard']">Dashboard</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/registrar/manage']">Manage</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/registrar/register']">Register</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/registrar/renew']">Renew</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/registrar/account']">Account</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/registrar/transfer']">Transfer</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/registrar/support']">Support</a></li>
      </ul>

    </div>

    <div class="auth-links" *ngIf="!authorizationService.isAuthenticated">
      <button class="btn" (click)="showAuthPopup()">Log in</button>
    </div>

    <div class="profile-links" *ngIf="authorizationService.isAuthenticated">

      <div class="nav-dropdown-container m-r-35">

        <a class="bell" href="javascript:void(0)">
          <img [src]="helpers.img('bell.svg')" alt="">
        </a>

        <div class="nav-dropdown">
          <div class="header-notifications">
            <div class="notifications-list">
              <div class="notification-item">
                <div class="notification-icon">
                  <div>
                    <img [src]="helpers.img('clock-red.svg')" alt="">
                  </div>
                </div>
                <div class="notification-content">
                  <p>New version of aplication. Current version updated to 12.23 version.</p>
                  <div class="notification-time">
                    <img [src]="helpers.img('clock-small.svg')" alt=""> Today, 15:00 AM
                  </div>
                </div>
              </div>
              <div class="notification-item">
                <div class="notification-icon">
                  <div>
                    <img [src]="helpers.img('star-red.svg')" alt="">
                  </div>
                </div>
                <div class="notification-content">
                  <p>New message in <a>1524 2354 4675 4464 444</a> geospot feed. </p>
                  <div class="notification-time">
                    <img [src]="helpers.img('clock-small.svg')" alt=""> Today, 15:00 AM
                  </div>
                </div>
              </div>
              <a class="see-all-notification">
                See all
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="nav-dropdown-container">

        <a *ngIf="!user?.photoLink"
           [routerLink]="['/profile']"
           href="javascript:void(0)"
           class="user-avatar avatar-empty">
        </a>

        <a *ngIf="user?.photoLink"
           [routerLink]="user?.isRegistrar ? ['/registrar/account'] : ['/profile']"
           href="javascript:void(0)"
           class="user-avatar"
           [ngStyle]="{ 'background-image' : 'url('+user?.photoLink+')'}">
        </a>

        <img class="registrar-shield"
             *ngIf="user?.isRegistrar"
             [src]="helpers.img('shield.svg')" alt="">

        <div class="nav-dropdown">
          <ul class="user-dropdown">
            <li routerLinkActive="active" *ngIf="user?.isPersonal">
              <a [routerLink]="['/profile']">Profile</a>
            </li>
            <li routerLinkActive="active" *ngIf="user?.isRegistrar">
              <a [routerLink]="['/registrar/account']">Profile</a>
            </li>
            <li><a (click)="authorizationService.logout()">Logout</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</header>