header {
  background: #fff;
  position: relative;
  z-index: 99;
}

.logo {
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;

    img {
      margin-right: 5px;
    }

    span {
      display: block;
      opacity: 0.4;
      font-size: 10px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0c242a;
      text-transform: uppercase;
      margin-top: 3px;
    }
  }
}

.navigation {

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        height: 78px;
        opacity: 0.5;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.67;
        letter-spacing: 0.7px;
        color: #0c242a;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
      }

      &:hover {
        > a {
          opacity: 1;
        }
      }

      &.active {
        > a {
          box-shadow: 0 -2px 0 0 #ff5f70 inset;
          opacity: 1;
        }
      }

    }
  }

  .nav-dropdown-container {
    &:after {
      top: 79px;
    }
  }

}

.nav-dropdown-container {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    z-index: 5;
    display: none;
  }

  &:hover {
    .nav-dropdown,
    &:after {
      display: block;
    }
  }
}

.nav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -5px;
  padding-top: 15px;
  min-width: 215px;
  display: none;

  ul {
    margin: 0;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    padding: 15px 0;
    box-shadow: 0 12px 17px 0 rgba(18, 23, 45, 0.06);
  }

  a {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #0c242a;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;

    &:hover {
      background: #eeedef;
    }
  }

  .active {
    a {
      color: #ff5f70;
    }
  }

}

.user-dropdown {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 12px 17px 0 rgba(18, 23, 45, 0.06);
  position: relative;
}

.profile-links {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .nav-dropdown {
    top: 37px;
    left: auto;
    right: 0;
    padding-top: 40px;
  }

  .nav-dropdown-container {
    &:after {
      top: 58px;
    }
  }
}

.bell {
  padding: 10px;
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  position: relative;

  &.avatar-empty {
    background: #f1f1f1;
    &:before {
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background-color: #c7cada;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -7px;
      margin-top: -10px;
    }

    &:after {
      width: 36px;
      height: 45px;
      border-radius: 100%;
      background-color: #dddee5;
      content: "";
      position: absolute;
      top: 68%;
      left: 0;
    }
  }
}

.header-notifications {
  width: 340px;
  background-color: #ffffff;
  box-shadow: 0 8px 17px 0 rgba(18, 23, 45, 0.2);
  border-radius: 5px;
}

.notifications-list {
  .notification-item {
    &:not(:first-child) {
      border-top: 1px solid rgba(0,0,0,.1);
    }
  }
}

.notification-item {
  padding: 15px 20px;
  display: flex;

  p {
    margin: 0;
  }
}

.notification-icon {
  width: 54px;
  min-width: 54px;
  max-width: 54px;
  height: 54px;
  background: #d8d8d8;
  border-radius: 100%;
  padding: 12px;
  margin-right: 12px;

  > div {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 13px 0 rgba(28, 36, 78, 0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.notification-content {
  p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0c242a;
  }
}

.notification-time {
  display: flex;
  font-size: 12px;
  color: #606d70;
  align-items: center;
  margin-top: 10px;

  img {
    margin-right: 6px;
  }
}

.see-all-notification {
  background-color: rgba(231, 227, 235, 0.36);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #1b72e4;
  text-transform: uppercase;
  cursor: pointer;
}

.registrar-shield {
  position: absolute;
  bottom: 0;
  right: -8px;
  z-index: 2;
}