.visit-card {
  text-align: center;
}

.visit-card-image {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: #eeedef;
  padding: 14px;
  margin: 0 auto 15px;

  div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;

    img {
      width: 100%;;
      height: 100%;
    }
  }
}

.visit-card-title {
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  color: #0c242a;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visit-card-position {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #176bda;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}