<div class="content p-25 visit-card">
  <div class="visit-card-image">
    <div><img [src]="card.visitImage" alt=""></div>
  </div>
  <div class="visit-card-title">{{ card.cardName }}</div>
  <div class="visit-card-position">{{ card.organization }}</div>
</div>