<modal #modal customClass="delete-geomain-modal">

  <h3 *ngIf="title">{{ title }}</h3>

  <h5>
    <img [src]="helpers.img('alert-triangle.svg')" alt="">
    Warning: this action cannot be undone
  </h5>

  <hr class="m-t-25 m-b-25 m-r--25 m-l--25">

  <checkbox [disabled]="true" [checked]="true">All shared links</checkbox>
  <checkbox [disabled]="true" [checked]="true">All feedback, comments, and activity history will be destroyed</checkbox>

  <div class="m-t-60">
    <button class="btn btn-cancel m-r-35" (click)="modal.close()">CANCEL</button>
    <button class="btn btn-danger" (click)="deleteCallback()">DELETE</button>
  </div>

  <ng-content></ng-content>

</modal>