.modal.remodal.delete-geomain-modal {
  text-align: left;
  padding: 35px 25px 35px 25px !important;

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0c242a;
    margin: 0 0 20px 0;
  }

  h5 {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  checkbox {
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
  }
}