.geospots-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -9px;

  li {
    flex : 1;
    padding: 0 9px;
    min-width: 240px;
    margin-bottom: 20px;
  }
}