<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>What is a Geomain Name?</accordion-heading>
    <p>
      A Geomain Name helps you to personalise your Geomain Number. Because your free 19-digit
      Geomain Number may not always be easy to remember, you have the option to register a
      unique Alphanumeric word that you can then link to your Geomain Number.
      A Geomain Name may not include any symbols except (-) dash.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>What is the difference between a Geomain Number and a Geomain Name?</accordion-heading>
    <p>
      The major differences are:<br/>
      <strong>a.</strong>	A Geomain Number is free for life. A Geomain Name must be registered and renewed annually.<br/>
      <strong>b.</strong>	A Geomain Number is exclusively available for registration on <a href="http://www.mygeomain.com">own site</a>.
      A Geomain Name may be registered online with any
      of our Accredited Geomain Registrars globally.<br/>
      <strong>c.</strong>	A Geomain Number maps to your GPS coordinates. A Geomain Name only
      maps to your Geomain Number.<br/>
      <strong>d.</strong>	Your QR Code for Geomain Number will always navigate to the address
      that you input when you first registered your Geomain Number. Your QR Code
      for Geomain Name will always point to your current updated address, because
      you are able to dynamically link it to any Geomain Number. This is how a Geomain
      Name can become your one word address for life – no matter where you go.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>What are the types of Geomain Names and what is the difference between them?</accordion-heading>
    <p>
      In the interest of fair pricing, there are two kinds of Geomain Names offered:<br/>
      <strong>a.</strong>	A standard Geomain Name - minimum 5 and maximum 29 characters.<br/>
      <strong>b.</strong>	A Premium Geomain Name - minimum 2 and maximum 4 characters.<br/>
      Premium Geomain Names have an annual surcharge applied to it, in addition to an annual
      registration fees. The annual surcharge for a 2 character Geomain Name is higher than
      that of a 3 character Geomain Name, which in turn is higher than the surcharge applied
      to a 4 character Geomain Name. In this way, we can ensure that those Registrants who own
      the most prestigious Geomain Names are paying a premium for the privilege, rather than
      burdening all Geomain registrants with additional marginal costs.

    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How do I register for a Geomain Name?</accordion-heading>
    <p>
      You can register a Geomain Name online with any good Domain Registrar.
      An increasing number of Domain Registrars are now signing up to become an
      Accredited Geomain Registrar. Here is an updated list of Accredited
      Geomain Registrars. (link to <a href="http://www.geomain.org/registrars">http://www.geomain.org/registrars</a>)
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How do I link my Geomain Name with my Geomain Number?</accordion-heading>
    <p>
      To link your Geomain Name to your Geomain Number, you need to:
      <strong>a.</strong>	Sign in to your Geomain Name Account.<br/>
      <strong>b.</strong>	Select the Geomain Name you wish to link from the Drop Down Menu
      field located on the top left hand corner of your Geomain Page.<br/>
      <strong>c.</strong>	Click the edit (pen) icon in the Drop Down Menu field.<br/>
      <strong>d.</strong>	All Geomain Names and Numbers that are registered under your email ID are
      shown in the two Drop Down Menu fields. You may also enter another Geomain Number
      (which may or may not be registered under your email ID) in the third field on
      this page.  Make your selection and click the Next button.

    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How many Geomain Numbers can I register under a single Email ID?</accordion-heading>
    <p>
      There is a limit of 10 Geomain Numbers you can register under a single email ID.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How many Geomain Names can I register under a single Email ID?</accordion-heading>
    <p>
      You can register up to 10,000 Geomain Names under a single email ID.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Is a Geomain Name available for registration in languages other than English?</accordion-heading>
    <p>
      Currently, Geomain Names are available in Arabic, English, Hindi, Japanese, Korean,
      Mandarin and Russian. We will be adding more languages in the future.
    </p>
  </accordion-group>
</accordion>