<modal #authModal (onClose)="onClose()">

    <div *ngIf="!success">
        <div class="auth-header">
            <img [src]="helpers.img('logo-big.svg')" alt="">
        </div>

        <h2 class="ttu">Change your password</h2>
        <p class="m-t-20 m-b-20">Please enter new password.</p>

        <form [formGroup]="form">
            <password [form]="form" formControlName="password" class="form-item">
                New Password
            </password>
            <validation-message [errors]="form?.controls.token.errors"></validation-message>
        </form>

        <div class="auth-footer">
            <button class="btn btn-danger ttu" (click)="submit()">Change</button>
        </div>

        <loader #loader></loader>
    </div>

    <div *ngIf="success">
        <h2 class="ttu">Success</h2>
        <p class="m-t-20 m-b-20">Your password changed</p>
        <a class="btn btn-big btn-success" (click)="authModal.close()">Got it!</a>
    </div>

</modal>