p {
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  opacity: .8;
}

.auth-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  margin-top: 55px;
}

.auth-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}