<modal #authModal (onClose)="onClose()">

    <div *ngIf="!success">
        <div class="auth-header">
            <img [src]="helpers.img('logo-big.svg')" alt="">
        </div>

        <h2 class="ttu">Forgot a password?</h2>
        <p>Enter your email address below and we'll send you a link to<br/> reset your password.</p>

        <form [formGroup]="form">
            <input-text [form]="form" formControlName="login" class="form-item">
                Email or phone number
            </input-text>
        </form>

        <div class="auth-footer">
            <button class="btn btn-danger ttu" (click)="submit()">Reset</button>
        </div>

        <loader #loader></loader>
    </div>

    <div *ngIf="success">
        <h2 class="ttu">Success</h2>
        <p class="m-t-20 m-b-20">Password recovery link sent to your e-mail</p>
        <a class="btn btn-big btn-success" (click)="authModal.close()">Got it!</a>
    </div>

</modal>