.error-icon {
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

.error-content {
  font-size: 14px;
  font-weight: 600;
  line-height: 0.75;
  text-align: center;
  color: #ff3542;
  margin-top: 30px;

}