<modal #modal>
    <div class="error-icon">
        <!--<img [src]="helpers.img('error.svg')" alt="">-->
    </div>
    <div class="error-content">
        <ng-content></ng-content>
    </div>
</modal>