<div class="flex j-c-space-between registrar-head m-b-35">
  <div>TOP GEOMAINS LTD. HK</div>
  <div>Avaliable: $300.00 USD</div>
</div>

<div class="flex">
  <div class="flex-item-1">
    <h3 class="m-t-0">Renew a new Geoname</h3>
    <p>
      Changing this information will also affect your name and
      appearance on all other Ionic websites like the Forum and Market
    </p>
  </div>
  <div class="flex-item-1">
    <h5 class="ttu m-t-0 m-b-20">Request information</h5>
    <form action="" class="form-container">
      <input-text class="form-item">Geomain</input-text>
    </form>
    <button class="btn m-t-45" [routerLink]="['/registrar', 'renew', 2]">NEXT</button>
  </div>
</div>