<div class="flex a-i-flex-start j-c-space-between m-t-35">
  <div>
    <h3 class="fw600">Security Settings</h3>
    <p>
      Changing this information will also affect your name and appearance on all other Ionic websites like the Forum and
      Market
    </p>
  </div>
  <div>
    <form class="form-container">
      <input-text [disabled]="true" class="form-item" [value]="user?.email">Email</input-text>
      <input-text [disabled]="true" class="form-item" [value]="user?.businessPhone">Phone</input-text>
    </form>
  </div>
</div>

<hr class="hr">


<!--<div class="flex a-i-flex-start j-c-space-between m-t-35">-->
  <!--<div>-->
    <!--<h3 class="fw600">Change Password</h3>-->
  <!--</div>-->
  <!--<div>-->
    <!--<form class="form-container">-->
      <!--<password class="form-item">Current password</password>-->
      <!--<password class="form-item">New password</password>-->
      <!--<password class="form-item">New password (again)</password>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->