.scroll-to-top {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0 12px 17px 0 rgba(18, 23, 45, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &.right-bottom {
    position: fixed;
    right: 27px;
    bottom: 27px;
    z-index: 99;
  }

}