<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>What is a Geomain?</accordion-heading>
    <p>
      A Geomain is basically a short form of a physical address. We assign every address on
      Earth a unique 19 digit number that is GPS linked. Therefore, to get to any address at
      all, you simply enter its Geomain and you will be able to navigate to it with GPS level
      accuracy. The Geomain Number is also available for free in a QR Code format, allowing
      you to share and promote it to your family, friends and/or customers. With the Geomain
      App, you can scan the Code to navigate.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Is a Geomain Number really free for life?</accordion-heading>
    <p>
      Yes, your Geomain Number is free for life.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Who can register for a free Geomain?</accordion-heading>
    <p>
      Anyone anywhere with a valid email ID can register for a free Geomain Number.
      If you are using the Geomain Mobile App, you will also need to have a mobile
      phone number to complete your registration.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>What is a Geomain category?</accordion-heading>
    <p>
      A Geomain category simply indicates your planned use of the Geomain.
      There are three categories:  (i) Personal, (ii) Business and (iii) Government.
      The category of a Geomain is defined upon Registration and may not be modified.
      The exception to this is the Category for Geomain Names, which may be modified
      upon renewal or re-registration of the Geomain Name.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How can I register a Geomain Number?</accordion-heading>
    <p>
      If you are using the Web to register:
      Click the Get my Geomain button on the <a href="http://www.mygeomain.com">www.MyGeomain.com</a> site.<br/>
      <strong>a.</strong>	Enter your details: Name, Email and Category (if the Geomain is for personal,
      business or Government use).<br/>
      <strong>b.</strong>	Enter the first line of your address: this can be an apartment, Unit and/or floor Number,
      or any other instruction that is required to reach to you e.g. ‘Ring Buzzer 32A’<br/>
      <strong>c.</strong>	Input your address in any one of three available methods: (i) in text form (ii) mark it on
      a map, or (iii) enter the GPS coordinates.<br/>
      <strong>d.</strong>	Confirm your address on a map. Once you submit, we show you the location on a map so you
      can confirm it to be accurate.<br/>
      <strong>e.</strong>	Verify your Email. We send you a Verification email, and as soon as you click the link in
      the email, we will generate your unique Geomain Number and email this to you (along with its corresponding QR Code).<br/>
    </p>
    <p>
      If you are using our Mobile App to register, you will be taken through the above process
      at sign up (upon App installation). In this case, your Mobile number will also need
      to be verified (where we send you a Code via SMS to enter during the App installation).
      App users have the additional option where they need not input their Address manually –
      as we are able to determine location via the phone GPS.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How accurate is a Geomain?</accordion-heading>
    <p>
      Every Geomain Number generated is linked to a set of GPS Coordinates.
      Therefore, Geomains essentially have GPS level accuracy.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>I am relocating or moving my home/office to another city or country. How can I update my Geomain Number?</accordion-heading>
    <p>
      Geomain Numbers are unique and the address (GPS Coordinates) that it links to cannot be updated.
      You will need to register a new Geomain Number if you move or relocate.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>What is a Geomain Page?</accordion-heading>
    <p>
      Every Geomain Member has their own free Geomain Page. Somewhat similar to member pages
      on popular Social sites, the Geomain Page offers you a platform where you can update
      information about yourself, upload your picture, or share your Geomain and much more.
      Business and Government category Geomain Name pages are also able to run both Banner
      as well as Video ads on their page.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Does a Geomain Number expire?</accordion-heading>
    <p>
      A Geomain Number does not expire. However, if you have not logged in to your account
      for six months or more, then we may delete your Geomain Number and account.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Is a Geomain Number available in languages other than English?</accordion-heading>
    <p>
      At this time only Geomains are only available in the English and Arabic numerals.
    </p>
  </accordion-group>
</accordion>