.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-block {
  flex: 100;
  padding-top: 8px;
  padding-bottom: 100px;
}

.container {
  height: 100%;
}

.content-block {
  background-color: rgba(233, 233, 241, 0.4);
}