<notification-list></notification-list>

<main class="main">

    <header-component></header-component>

    <div class="content-block relative">

        <router-outlet></router-outlet>

    </div>

    <footer-component></footer-component>


</main>