.form-label {
  display: block;
  position: relative;
}

.form-control-title {
  font-size: 15px;
  font-weight: 600;
  color: #0c242a;
  opacity: .5;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -9px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: .15s;
}

.title-mixin() {
  font-size: 11px;
  color: #606d70;
  top: 22px;
  opacity: 1;
}

.form-control {
  height: 66px;
  font-size: 15px;
  font-weight: 600;
  color: #0c242a;
  display: block;
  border: none;
  width: 100%;
  padding: 30px 20px 10px;
  background: #fff;
  
  &.form-control-gray {
    background: #f1f1f1;
  }

  &:focus {
    & + .form-control-title {
      .title-mixin();
    }
  }

  &:disabled {
    color: #929b9d;
  }
}

.is-not-empty {
  .form-control-title {
    .title-mixin();
  }
}

textarea {
  resize: none;
}

.form-control-search {
  height: 40px;
  padding-left: 50px;
  background: #fff;
  border: 2px solid rgba(216, 216, 216, 0.5);
  border-left: none;
  border-right: none;
  font-weight: 600;
  width: 100%;
}