<div class="flex j-c-space-between registrar-head m-b-35">
  <div>TOP GEOMAINS LTD. HK</div>
  <div>Avaliable: $300.00 USD</div>
</div>

<h3 class="m-t-0">Manage Geomains and Users</h3>

<div class="content m-t-25">
  <table class="table">
    <thead>
      <tr>
        <th>Geoname</th>
        <th>User</th>
        <th>Email</th>
        <th>Activate date</th>
        <th>Expire date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-search">
        <td colspan="7">
          <search placeholder="Search by phone number, geomain, users, email…"></search>
        </td>
      </tr>
      <tr *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" [routerLink]="['/registrar', 'manage', 2]">
        <td>Home of Gally Wagner</td>
        <td>
          <div class="user-block">
            <img [src]="" alt=""> Gally Wagner
          </div>
        </td>
        <td>gibson.lila@prosacco.tv</td>
        <td>Aug 31, 2018</td>
        <td>Sep 28, 2019</td>
        <td>Business</td>
        <td>
          <button class="action-btn"><span></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="m-t-25">
  <pagination></pagination>
</div>