.table {
  th, td {
    &:last-of-type {
      padding: 0;
    }
  }
}

.user-block {
  display: flex;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 12px;
  }
}