<div class="flex j-c-space-between registrar-head m-b-35">
  <div>TOP GEOMAINS LTD. HK</div>
  <div>Avaliable: $300.00 USD</div>
</div>

<div class="flex">
  <div class="flex-item-1">
    <h3 class="m-t-0">Register new GeoName</h3>
    <p>
      GeoName information would besent to users Email
    </p>
  </div>
  <div class="flex-item-1">
    <h5 class="ttu m-t-0 m-b-20">Request information</h5>
    <form action="" class="form-container">
      <input-text class="form-item">Email</input-text>
    </form>
    <button class="btn m-t-45" [routerLink]="['/registrar', 'register', 'asda@asd.sd']">SEARCH</button>
  </div>
</div>