<div class="geomain" [routerLink]="['/gs', geomain.number]">
  <!--<div class="geomain-tape">{{ VISITOR_POLICY[geomain.visitorPolicy].name }}</div>-->
  <div class="geomain-image" [ngStyle]="{ 'background-image' : 'url('+helpers.img('default.svg')+')'}">
    <img *ngIf="geomain.mainImage" [src]="geomain.mainImage" alt="">
  </div>
  <div class="geomain-name">{{ geomain.tag }}</div>
  <div class="geomain-number">{{ geomain.numberMasked }}</div>
  <div class="geomain-position">
    <div class="position-icon">
      <div></div>
    </div>
    <div class="position-data">
      <div>Lat: {{ geomain.lat }}</div>
      <div>Lon: {{ geomain.lon }}</div>
    </div>
  </div>
</div>