.geomain {
  cursor: pointer;
}

.geomain-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eeedef;
  height: 208px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.geomain-name {
  font-size: 19px;
  font-weight: 600;
  color: #0c242a;
  padding: 13px 15px 0;
  display: block;
}

.geomain-number {
  font-size: 16px;
  font-weight: 600;
  color: #176bda;
  padding: 0 15px;
  display: block;
  margin-top: 6px;
}