* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;

  -webkit-font-smoothing: antialiased;

  &:active, &:focus {
    outline: none;
  }
}


html, body {
  width: 100%;
  height: 100%;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #2a2a2a;

  position: relative;
  margin: 0;
  padding: 0;
  //min-width: 1175px;
}

@import "typography";

.container {
  width: 100%;
  max-width: 1075px;
  padding: 0 10px;
  margin: 0 auto;
}

.content {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.03);
}

.position-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    background-image: url("../img/location.svg");
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1), 0 5px 10px 0 rgba(28, 36, 78, 0.1);
  }
}

.registrar-head {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.7px;
  color: #0c242a;
  text-transform: uppercase;
}