.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-weight: 700;
  line-height: 1;
  margin: 10px 0;
}


.h1, h1 {
  font-size: 43px;
  margin: 15px 0;
}

.h2, h2 {
  font-size: 25px;
}

.h3, h3 {
  font-size: 20px;
}

.h4, h4 {
  font-size: 12px;
}

.h5, h5 {
  font-size: 11px;
}

.h6, h6 {
  font-size: 10px;
}

p {
  margin: 10px 0;
  font-size: 16px;
  color: #606d70;
  line-height: 1.38;

  &.p-small {
    font-size: 11px;
    line-height: normal;
  }

  &.p-info {
    font-size: 10px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.6px;
    color: #0c242a;
    text-transform: uppercase;
    opacity: 0.5;
  }
}


a {
  font-size: 12px;
  font-weight: 600;
  color: #176bda;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.7px;
  color: #ff5f70;
  position: relative;
  text-align: left;
  padding-left: 25px;
  text-transform: uppercase;

  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../Img/error.svg") no-repeat center center;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 0;
  }
}

hr {
  opacity: 0.1;
  background-color: #000000;
  height: 1px;
  border: none;
  margin: 15px 0;
}

.hr {
  margin: 20px 0;
  height: 2px;
  background: #d8d8d8;
  border: none;
}