//@font-face {
//    font-family: "San Francisco";
//    src:
//        //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.eot?") format('embedded-opentype'),
//        //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.ttf") format('truetype'),
//        //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.woff") format('woff'),
//        url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.otf") format('opentype');
//
//    font-weight: 300;
//}
//
//@font-face {
//    font-family: "San Francisco";
//    src:
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.eot?") format('embedded-opentype'),
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.ttf") format('truetype'),
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.woff") format('woff'),
//            url("../../Fonts/SanFranciscoFont/SanFranciscoText-Regular.otf") format('opentype');
//
//    font-weight: 400;
//}
//
//@font-face {
//    font-family: "San Francisco";
//    src:
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.eot?") format('embedded-opentype'),
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.ttf") format('truetype'),
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.woff") format('woff'),
//            url("../../Fonts/SanFranciscoFont/SanFranciscoText-Semibold.otf") format('opentype');
//
//    font-weight: 500;
//}
//
//@font-face {
//    font-family: "San Francisco";
//    src:
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.eot?") format('embedded-opentype'),
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.ttf") format('truetype'),
//            //url("../../Fonts/SanFranciscoFont/SanFranciscoText-Light.woff") format('woff'),
//            url("../../Fonts/SanFranciscoFont/SanFranciscoText-Bold.otf") format('opentype');
//
//    font-weight: 600;
//}