.help-size(@list, @type){
  .margin-loop(@i: length(@list)) when(@i > 0){
    .margin-loop(@i - 1);
    @size: extract(@list, @i);
    &-@{size}{   @{type}:         unit(@size, px) !important;}
    &-r-@{size}{ @{type}-right:   unit(@size, px) !important;}
    &-l-@{size}{ @{type}-left:    unit(@size, px) !important;}
    &-t-@{size}{ @{type}-top:     unit(@size, px) !important;}
    &-b-@{size}{ @{type}-bottom:  unit(@size, px) !important;}
  }
  .margin-loop();
}


.m {
  @marginList: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 85, 110, -5, -10, -15, -20, -25, -30, -35, -40, -45, -50, 60;
  .help-size(@marginList, margin);
}

.p {
  @marginList: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 110;
  .help-size(@marginList, padding);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.fw900 {
  font-weight: 900 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.ttu {
  text-transform: uppercase;
}


.img-responsive {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

pre {
  white-space: normal;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.rounded {
  border-radius: 10px;
}


