.geomain {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.03);
  position: relative;

  &:hover {
    box-shadow: 0 12px 20px 0 rgba(28, 36, 78, 0.07);
  }
}

.geomain-tape {
  position: absolute;
  top: 13px;
  z-index: 9;
  border-radius: 11px;
  padding: 6px 13px;
  background-image: linear-gradient(255deg, #fd4f62, #ee3045);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-transform: uppercase;
  transition : .2s;

  @media(min-width: 1081px) {
    left: -13px;
  }

  @media(max-width: 1080px) {
    left: -5px;
  }
}

.geomain-position {
  display: flex;
  border-top: 1px solid rgba(0,0,0,.1);
  align-items: center;
  padding: 12px 0;
  margin-top: 16px;
}

.position-icon {
  width: 56px;
}

.position-data {
  font-size: 12px;
  color: #606d70;

  div {
    &:last-of-type {
      margin-top: 4px;
    }
  }
}