<div class="flex j-c-space-between">
  <div class="aside">
    <ul class="aside-links">
      <li routerLinkActive="active"><a [routerLink]="['number']">Geomain Number</a></li>
      <li routerLinkActive="active"><a [routerLink]="['name']">Geomain Name</a></li>
      <li routerLinkActive="active"><a [routerLink]="['advertising']">Advertising</a></li>
      <li routerLinkActive="active"><a [routerLink]="['navigation']">Navigation</a></li>
      <li routerLinkActive="active"><a [routerLink]="['organization']">Organization</a></li>
      <li routerLinkActive="active"><a [routerLink]="['privacy']">Privacy</a></li>
      <li routerLinkActive="active"><a [routerLink]="['registrars']">Registrars</a></li>
      <li routerLinkActive="active"><a [routerLink]="['security']">Security</a></li>
      <li routerLinkActive="active"><a [routerLink]="['trademark-policy']">Trademark Policy</a></li>
      <li routerLinkActive="active"><a [routerLink]="['validation']">Validation</a></li>
      <li routerLinkActive="active"><a [routerLink]="['whois-records']">WhoisRecords</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<scroll-to-top position="right-bottom"></scroll-to-top>