.geomain-container {
  display: flex;
}

.geomain-image {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  border: 16px solid rgba(0,0,0,.1);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}