<div class="geomain-container">
  <div class="page-aside">
    <div fixOnScroll [offsetTop]="30">
      <div *ngIf="item">
        <div class="geomain-image">
          <img *ngIf="item.mainImage" [src]="item.mainImage" alt="">
        </div>
      </div>
      <ul class="aside-menu">
        <li routerLinkActive="active">
          <div>
            <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <path d="M11,22 C4.92486775,22 0,17.0751322 0,11 C0,4.92486775 4.92486775,0 11,0 C17.0751322,0 22,4.92486775 22,11 C22,17.0751322 17.0751322,22 11,22 Z M11,20 C15.9705627,20 20,15.9705627 20,11 C20,6.02943725 15.9705627,2 11,2 C6.02943725,2 2,6.02943725 2,11 C2,15.9705627 6.02943725,20 11,20 Z M10,7 C10,6.44771525 10.4477153,6 11,6 C11.5522847,6 12,6.44771525 12,7 L12,11 C12,11.5522847 11.5522847,12 11,12 C10.4477153,12 10,11.5522847 10,11 L10,7 Z M10.2928932,14.7071068 C9.90236893,14.3165825 9.90236893,13.6834175 10.2928932,13.2928932 C10.6834175,12.9023689 11.3165825,12.9023689 11.7071068,13.2928932 C12.0976311,13.6834175 12.0976311,14.3165825 11.7071068,14.7071068 C11.3165825,15.0976311 10.6834175,15.0976311 10.2928932,14.7071068 Z" id="path-1"></path>
              </defs>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-107.000000, -243.000000)">
                  <g id="alert-circle" transform="translate(107.000000, 243.000000)">
                    <mask fill="white">
                      <use xlink:href="#path-1"></use>
                    </mask>
                    <use fill="#0C242A" fill-rule="nonzero" xlink:href="#path-1"></use>
                  </g>
                </g>
              </g>
            </svg>
            <a routerLink="info">GEOSTOP INFO</a>
          </div>
          <ul class="aside-nested-menu" *ngIf="item.number">
            <li routerLinkActive="active-child" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="info" fragment="information-section">INFORMATION</a>
            </li>
            <li routerLinkActive="active-child" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="info" fragment="photos-section">PHOTOS</a>
            </li>
            <li routerLinkActive="active-child" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="info" fragment="place-section">PLACE DATA</a>
            </li>
            <li routerLinkActive="active-child" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="info" fragment="map-section">MAP</a>
            </li>
          </ul>
        </li>
        <!--<li routerLinkActive="active">-->
        <!--<div>-->
        <!--<svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
        <!--<defs>-->
        <!--<path d="M10.5530055,0.105572809 C10.834533,-0.0351909363 11.1659052,-0.0351909363 11.4474327,0.105572809 L21.4474327,5.10557281 C22.1844812,5.47409708 22.1844812,6.52590292 21.4474327,6.89442719 L11.4474327,11.8944272 C11.1659052,12.0351909 10.834533,12.0351909 10.5530055,11.8944272 L0.553005461,6.89442719 C-0.184043078,6.52590292 -0.184043078,5.47409708 0.553005461,5.10557281 L10.5530055,0.105572809 Z M11.0002191,2.11803399 L3.23628703,6 L11.0002191,9.88196601 L18.7641511,6 L11.0002191,2.11803399 Z M1.44743265,15.1055728 L11.0002191,19.881966 L20.5530055,15.1055728 C21.046984,14.8585836 21.647657,15.0588079 21.8946462,15.5527864 C22.1416355,16.0467649 21.9414111,16.6474379 21.4474327,16.8944272 L11.4474327,21.8944272 C11.1659052,22.0351909 10.834533,22.0351909 10.5530055,21.8944272 L0.553005461,16.8944272 C0.0590269636,16.6474379 -0.141197383,16.0467649 0.105791866,15.5527864 C0.352781114,15.0588079 0.953454155,14.8585836 1.44743265,15.1055728 Z M1.44743265,10.1055728 L11.0002191,14.881966 L20.5530055,10.1055728 C21.046984,9.85858356 21.647657,10.0588079 21.8946462,10.5527864 C22.1416355,11.0467649 21.9414111,11.6474379 21.4474327,11.8944272 L11.4474327,16.8944272 C11.1659052,17.0351909 10.834533,17.0351909 10.5530055,16.8944272 L0.553005461,11.8944272 C0.0590269636,11.6474379 -0.141197383,11.0467649 0.105791866,10.5527864 C0.352781114,10.0588079 0.953454155,9.85858356 1.44743265,10.1055728 Z" id="path-2"></path>-->
        <!--</defs>-->
        <!--<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
        <!--<g transform="translate(-107.000000, -501.000000)">-->
        <!--<g id="layers" transform="translate(107.000000, 501.000000)">-->
        <!--<mask fill="white">-->
        <!--<use xlink:href="#path-2"></use>-->
        <!--</mask>-->
        <!--<use fill="#0C242A" fill-rule="nonzero" xlink:href="#path-2"></use>-->
        <!--</g>-->
        <!--</g>-->
        <!--</g>-->
        <!--</svg>-->
        <!--<a routerLink="advertising">ADVERTISING</a>-->
        <!--</div>-->
        <!--</li>-->
        <li routerLinkActive="active" *ngIf="item.number">
          <div>
            <svg width="18px" height="22px" viewBox="0 0 18 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <path d="M9.4472136,21.8944272 C9.1656861,22.0351909 8.8343139,22.0351909 8.5527864,21.8944272 C8.2759078,21.7559879 7.81107801,21.4986714 7.22000106,21.1292483 C6.2398841,20.5166752 5.25994003,19.8062158 4.34149539,19.0025767 C1.64575967,16.6438079 0,13.9694485 0,11 L0,3 C0,2.54113236 0.312297374,2.14114925 0.757464375,2.0298575 L8.75746437,0.0298574999 C8.91670437,-0.00995249995 9.08329563,-0.00995249995 9.24253563,0.0298574999 L17.2425356,2.0298575 C17.6877026,2.14114925 18,2.54113236 18,3 L18,11 C18,13.9694485 16.3542403,16.6438079 13.6585046,19.0025767 C12.74006,19.8062158 11.7601159,20.5166752 10.7799989,21.1292483 C10.188922,21.4986714 9.7240922,21.7559879 9.4472136,21.8944272 Z M9.72000106,19.4332517 C10.6148841,18.8739498 11.50994,18.2250342 12.3414954,17.4974233 C14.6457597,15.4811921 16,13.2805515 16,11 L16,3.78077641 L9,2.03077641 L2,3.78077641 L2,11 C2,13.2805515 3.35424033,15.4811921 5.65850461,17.4974233 C6.49005997,18.2250342 7.3851159,18.8739498 8.27999894,19.4332517 C8.53712914,19.5939581 8.77859909,19.7373457 9,19.8627787 C9.22140091,19.7373457 9.46287086,19.5939581 9.72000106,19.4332517 Z" id="path-3"></path>
              </defs>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-109.000000, -561.000000)">
                  <g id="shield" transform="translate(109.000000, 561.000000)">
                    <mask fill="white">
                      <use xlink:href="#path-3"></use>
                    </mask>
                    <use fill="#0C242A" fill-rule="nonzero" xlink:href="#path-3"></use>
                  </g>
                </g>
              </g>
            </svg>
            <a routerLink="privacy">PRIVACY SETTINGS</a>
          </div>
        </li>
        <li routerLinkActive="active" *ngIf="item.number">
          <div>
            <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <path d="M6,2 L3,2 C2.44771525,2 2,2.44771525 2,3 L2,17 C2,17.5522847 2.44771525,18 3,18 L6,18 L6,2 Z M8,2 L8,18 L17,18 C17.5522847,18 18,17.5522847 18,17 L18,3 C18,2.44771525 17.5522847,2 17,2 L8,2 Z M3,0 L17,0 C18.6568542,0 20,1.34314575 20,3 L20,17 C20,18.6568542 18.6568542,20 17,20 L3,20 C1.34314575,20 0,18.6568542 0,17 L0,3 C0,1.34314575 1.34314575,0 3,0 Z" id="path-4"></path>
              </defs>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-108.000000, -622.000000)">
                  <g id="sidebar" transform="translate(108.000000, 622.000000)">
                    <mask fill="white">
                      <use xlink:href="#path-4"></use>
                    </mask>
                    <use fill="#0C242A" xlink:href="#path-4"></use>
                  </g>
                </g>
              </g>
            </svg>
            <a routerLink="activity">ACTIVITY</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content-width-aside">
    <div class="flex a-i-center j-c-space-between">
      <a *ngIf="!itemName.name" [routerLink]="['/', 'my-geomains', 'geospots']" class="back-link">Geospots</a>
      <a *ngIf="itemName.name" [routerLink]="['/', 'my-geomains', 'geonames']" class="back-link">Geonames</a>
      <button class="btn btn-small" (click)="openShare()">
        <img [src]="helpers.img('share.svg')" alt="" class="m-r-10">
        Share
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

<share-geomain #share [geomain]="item"></share-geomain>