<div class="flex a-i-center j-c-space-between">
  <h3 class="m-0">Manage CSR</h3>
  <button class="btn btn-small btn-bordered btn-border-blue fw600">CREATE</button>
</div>

<div class="content m-t-25">
  <table class="table">
    <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Dayli limit</th>
      <th>Register date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-search">
      <td colspan="7">
        <search placeholder="Search by users, email…"></search>
      </td>
    </tr>
    <tr *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
      <td>
        <div class="user-block">
          <img [src]="" alt=""> Gally Wagner
        </div>
      </td>
      <td>gibson.lila@prosacco.tv</td>
      <td>570-319-4786</td>
      <td>US $15,17</td>
      <td>Sep 28, 2019</td>
      <td>
        <button class="action-btn"><span></span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="m-t-25">
  <pagination></pagination>
</div>