<h2>
  Visit Cards
  <!--<button class="add-button"></button>-->
</h2>

<ul class="link-tabs m-b-35">
  <li routerLinkActive="active"><a [routerLink]="['my']">My cards</a></li>
  <li routerLinkActive="active"><a [routerLink]="['saved']">Saved</a></li>
</ul>

<router-outlet></router-outlet>