.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #0c242a;
    line-height: normal;

    input {
        display: none;

        &:checked {
            & ~ i {
                background: #0c242a;
            }
        }
    }

    i {
        width: 18px;
        min-width: 18px;
        height: 18px;
        margin-right: 8px;
        border-radius: 100%;
        border: solid 2.5px #eeedef;
        background: rgba(12, 36, 42, .2);
        transition: .2s;
    }

    &.disabled {
        opacity: .6;
    }
    &.disabled-checked {
        i {
            opacity: .6;
        }
    }
}