<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>How is my Geomain secure?</accordion-heading>
    <p>
      As soon as you have registered your Geomain, you may use this instead of your address.
      Anybody wishing to visit you will enter the Geomain Name or Number on our site or in-App,
      and if you have enabled Security, then they will be required to enter any one of the
      following before we will allow the page to open:<br/>
      <strong>a.</strong>	your Email ID<br/>
      <strong>b.</strong>	last 4 digits of your phone number<br/>
      <strong>c.</strong>	4 digit PIN number that you define, and share with whom you wish.<br/>
      With Security enabled, no one will be able to access your page – nor navigate to you –
      unless they input any one of the three parameters that you set.

    </p>
  </accordion-group>
</accordion>