<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>Who runs Geomain?</accordion-heading>
    <p>
      The Singapore-based Geomain Organization is the Master Registrar of all Geomain
      Names and Numbers globally, and is the sole owner and operator of the Geomain Registry.
      An international independently appointed Board of Directors representing all regions of
      the world meets once a year to assess, plan, discuss and approve strategies for the
      Geomain Organisation. Throughout the year, the management team as appointed by the
      Geomain Board of Directors works with an Advisory Panel to ensure best practices are
      developed and any and all compliance and regulatory matters are satisfied.
    </p>
  </accordion-group>
</accordion>