<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>Do you offer Privacy Protect?</accordion-heading>
    <p>
      Geomain offers Dynamic Privacy Protect (DPP) to all Geomain Registrants.
      DPP allows the Registrant to sign in and dynamically enable or disable Privacy,
      thereby being in full control at all times of what information the WHOIS record
      will show at any time. Geomain does not charge for this service, so it is currently
      available for free to all Geomain Registrants.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>What do you do with my data?</accordion-heading>
    <p>
      Geomain uses your data to enable us to provide you with:
      <strong>a.</strong>	navigation capability.<br/>
      <strong>b.</strong>	pseudo addressing functionality (share your Geomain but not your actual address).<br/>
      <strong>c.</strong>	secure addressing functionality (share your Geomain but decide who can access it).<br/>

      We may also use our Members’ meta data to help improve the range and depth of services
      that we or our partners may offer from time to time. As is standard practice with most
      websites that we use today, your data is shared with law enforcement only under an official
      legal request or subpoena to do so. Just like Apple Inc., Geomain also does not support -
      nor has any - “back door” or Trojan links to law enforcement agencies anywhere in the world.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Is it really a good idea to trust Geomain with my data?</accordion-heading>
    <p>
      We aim to make Geomain your Single Secure Identity. Currently, we all need to share tonnes
      of information, our address, phone and email with several different parties whom we deal
      with every day – be these Banks, Phone companies, Government organisations and so on.
      With Geomain, we envision a world where you no longer need to risk sharing such sensitive
      data with so many different companies or organisations that you interact with. Instead
      you simply share your Geomain, and this will serve as your ID in most cases. The companies
      and organisations will save tonnes of money by not having to store, secure and manage
      all this data, making this a Win-Win for all.
    </p>
  </accordion-group>
</accordion>