.modal.remodal.share-modal {
  text-align: left;
  padding: 25px 25px 35px 25px !important;
  max-width: 655px !important;

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0c242a;
    margin: 0;
  }

  h5 {
    font-size: 12px;
  }

  .social-list {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li:not(:last-of-type) {
      margin-right: 15px;

      a {
        cursor: pointer;
      }
    }
  }

  .share-link {
    height: 60px;
    border-radius: 5px;
    background-color: rgba(231, 227, 235, 0.26);
    border: solid 1px rgba(102, 107, 115, 0.23);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    span {
      font-size: 15px;
      color: #0c242a;
    }

    a {
      font-size: 16px;
      font-weight: bold;
      color: #1b72e4;
      cursor: pointer;
    }
  }
}