<modal #modal customClass="share-modal">

  <h3>Share Geospot</h3>

  <p>
    Changing this information will also affect your name and appearance
    on all other Ionic websites like the Forum and Market
  </p>

  <h5 class="m-t-40">SEND TO SOCAIL</h5>
  <ul class="social-list">
    <li><a shareButton="facebook"><img [src]="helpers.img('social/big-facebook.svg')" alt=""></a></li>
    <li><a shareButton="vk"><img [src]="helpers.img('social/big-vk.svg')" alt=""></a></li>
    <li><a shareButton="twitter"><img [src]="helpers.img('social/big-twitter.svg')" alt=""></a></li>
    <li><a shareButton="linkedin"><img [src]="helpers.img('social/big-linked-in.svg')" alt=""></a></li>
    <li><a shareButton="google"><img [src]="helpers.img('social/big-google.svg')" alt=""></a></li>
    <!--<li><a shareButton="ok"><img [src]="helpers.img('social/big-ok.svg')" alt=""></a></li>-->
  </ul>

  <hr class="m-t-25 m-b-25 m-r--25 m-l--25">

  <h5>GEOSPOT LINK</h5>
  <div class="share-link">
    <span>{{ href }}</span>
    <a clipboard [text]="href" (onCopy)="onCopy()">COPY LINK</a>
  </div>

</modal>