<div class="flex a-i-center j-c-space-between m-b-35">
  <a [routerLink]="['/registrar', 'manage', 'list']" class="back-link">Geoname list</a>
</div>

<div class="flex">
  <div class="flex-item-1">
    <h3 class="m-t-0">Geonames list of Sally Potter</h3>
    <p>
      Changing this information will also affect your name and
      appearance on all other Ionic websites like the Forum and Market
    </p>
    <h5 class="ttu m-t-50 m-b-20">USER information</h5>
    <div class="content-small">
      <form action="" class="form-container">
        <input-text class="form-item" value="Sally Potter">Customer name</input-text>
        <input-text class="form-item" value="76093-00058949">Customer number</input-text>
        <input-text class="form-item" value="henderson.jacobs@yahoo.com">Customer email</input-text>
        <input-text class="form-item" value="+1 800 234 23 32">Phone</input-text>
        <input-text class="form-item" value="31 Aug, 2017">Registration date</input-text>
      </form>
      <div class="flex a-i-center j-c-space-between m-t-45">
        <button class="btn flex-item-1 m-r-30">SEND REQUEST</button>
        <button class="btn btn-cancel">CANCEL</button>
      </div>
    </div>
  </div>
  <div class="flex-item-1 flex f-d-column j-c-space-between">
    <h5 class="ttu m-t-0 m-b-20">Geoname list</h5>
    <div class="content flex-item-1">
      <table class="table table-small">
        <thead>
          <tr>
            <th>Geoname</th>
            <th>Register / expire date</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of [0,1,2,3]">
            <td>Home of Gally Wagner</td>
            <td>Aug 31, 2018 / Sep 28, 2019</td>
            <td>Business</td>
            <td>
              <button class="action-btn"><span></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>