.success-icon {
  width: 50px;
  height: 50px;
  background-color: #8ebb69;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.success-content {
  font-size: 14px;
  font-weight: 600;
  line-height: 0.75;
  text-align: center;
  color: #8ebb69;
  margin-top: 30px;
}