<modal #modal (onClose)="onClose.emit()">
    <div class="success-icon">
        <!--<img [src]="helpers.img('check-big.svg')" alt="">-->
    </div>
    <div class="success-content">
        <ng-content></ng-content>
    </div>
</modal>