.search-content {
  position: relative;
}

.search-input {
  height: 66px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.05);
  width: 100%;
  padding: 0 130px 0 33px;
  font-size: 16px;
}

.btn {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -23px;
  font-size: 14px;
}

.search-error {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 50px;
  opacity: 0;
  border-radius: 0 0 4px 4px;
  background-color: #3d3d3d;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: .3s;

  &.showed-error {
    opacity: 0.93;
    height: 56px;
    top: 100%;
    box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2), 0 -4px 0 0 #3d3d3d;
  }

  span {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }
}