<div class="search-content">
    <form class="form" onsubmit="return false">
        <input #search
             type="text"
             class="search-input"
             placeholder="Search a geospots, geomains…"
             (input)="error = false">
        <button [disabled]="!value" class="btn" (click)="find()">Search</button>
    </form>
    <loader #loader></loader>
    <div class="search-error" [ngClass]="{'showed-error' : error}">
        <img src="" alt=""> <span>This Geomain not found</span>
    </div>
</div>