.home-container {
  min-height: 100%;
  display: flex;
  //align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  > div {
    width: 100%;
    //margin-top: -100px;

    //@media(max-height: 500px) {
    //  margin-top: 0;
    //}
  }
}

search {
  display: block;
  max-width: 700px;
  margin: 0 auto;
}

.home-title {
  font-weight: 900;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #2b2b2b;
  max-width: 600px;
  margin: 0 auto 40px;

  span {
    color: #ff5f70;
  }
}

.slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-1 {
  background-image: url("./../../../../Theme/Img/slides/slide1.jpg");
}

.slide-2 {
  background-image: url("./../../../../Theme/Img/slides/slide2.jpg");
}

.slide-3 {
  background-image: url("./../../../../Theme/Img/slides/slide3.jpg");
}

.slide-4 {
  background-image: url("./../../../../Theme/Img/slides/slide4.jpg");
}

.slide-5 {
  background-image: url("./../../../../Theme/Img/slides/slide5.jpg");
}