<div class="home-slider" #slider>
    <div class="slide slide-1"></div>
    <div class="slide slide-2"></div>
    <div class="slide slide-3"></div>
    <div class="slide slide-4"></div>
    <div class="slide slide-5"></div>
</div>

<div class="home-container">
    <div>
        <!--<h1 class="home-title">-->
        <!--One-word <span>Address</span> for people, places & things-->
        <!--</h1>-->
        <search (OnSuccess)="onSuccess($event)"></search>
    </div>
</div>