<div class="flex a-i-flex-start j-c-space-between m-t-35">
  <div>

    <h3 class="fw600">Basic Info</h3>
    <p>
      Changing this information will also affect your name and appearance on all other Ionic websites like the Forum and
      Market
    </p>

  </div>

  <div>

    <profile-avatar></profile-avatar>

    <form class="form-container">
      <input-text [disabled]="true" class="form-item" [value]="user?.firstName">First name</input-text>
      <input-text [disabled]="true" class="form-item" [value]="user?.lastName">Last name</input-text>
      <input-text [disabled]="true" class="form-item" [value]="user?.email">Email</input-text>
      <input-text [disabled]="true" class="form-item" [value]="user?.businessPhone">Phone</input-text>
    </form>

  </div>
</div>

<confirm #confirm>Are you sure you want to delete the avatar?</confirm>
<success #success>Success!</success>
