.flex {
  > div {
    width: 47% !important;
  }
}

.upload-avatar {
  display: flex;
  margin-bottom: 40px;
}

.upload-avatar-form {
  margin-left: 18px;
  span {
    display: block;
    font-size: 11px;
    color: #606d70;
    margin-bottom: 10px;
  }
}

.upload-form {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  .btn {
    height: 32px;
    padding: 0 20px;
    font-size: 12px;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
  }
}

.user-avatar {
  position: relative;
  display: inline-block;

  > div {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    position: relative;

    &.avatar-empty {
      background: #fff;
      &:before {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background-color: #c7cada;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top: -15px;
      }

      &:after {
        width: 65px;
        height: 85px;
        border-radius: 100%;
        background-color: #dddee5;
        content: "";
        position: absolute;
        top: 68%;
        left: 0;
      }
    }
  }
}

.remove-avatar {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #0c242a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    opacity: .8;
  }
}