div {
  max-width: 635px;
  margin: 0 auto;
}

h1 {
  font-size: 33px;
  font-weight: 600;
  color: #0c242a;
  margin: 40px 0 20px;

  + p {
    font-size: 18px;
    line-height: 1.33;
    color: #606d70;
  }
}

h2 {
  font-size: 25px;
  font-weight: 600;
  color: #0c242a;
  margin-top: 80px;

  ~ p {
    font-size: 16px;
    line-height: 1.38;
    color: #606d70;
    margin: 15px 0 30px;
  }
}