<div class="text-center">
  <h1>
    Our mission is to make a new way to use your address. Next generation address.
  </h1>
  <p>
    A Geomain is basically a short form of a physical address. We assign every address on Earth a unique 19 digit number
    that is GPS linked. Therefore, to get to any address at all, you simply enter its Geomain and you
  </p>

  <h2>
    Geomain Global Policy - Worldwide
  </h2>
  <p>
    A Geomain is basically a short form of a physical address. We assign every address on Earth a unique 19 digit number
    that is GPS linked. Therefore, to get to any address at all, you simply enter its Geomain and you will be able to
    navigate to it with GPS level accuracy. The Geomain Number is also available for free in a QR Code format, allowing
    you to share and promote it to your family, friends and/or customers. With the Geomain App, you can scan the.
  </p>
  <p>
    A Geomain is basically a short form of a physical address. We assign every address on Earth a unique 19 digit number
    that is GPS linked. Therefore, to get to any address at all, you simply enter its Geomain and you will be able to
    navigate to it with GPS level accuracy.
  </p>
</div>