<div class="relative" *ngIf="schedule">
  <table>
    <tr>
      <td>
        <span>MON</span>
      </td>
      <td class="p-l-10 p-r-10">
        <my-switch [(ngModel)]="schedule.MO.enabled"></my-switch>
      </td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.MO.timeFrom">From</input-text>
      </td>
      <td class="p-l-5 p-r-5">•</td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.MO.timeTo">To</input-text>
      </td>
    </tr>
    <tr>
      <td>
        <span>TUE</span>
      </td>
      <td class="p-l-10 p-r-10">
        <my-switch [(ngModel)]="schedule.TU.enabled"></my-switch>
      </td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.TU.timeFrom">From</input-text>
      </td>
      <td class="p-l-5 p-r-5">•</td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.TU.timeTo">To</input-text>
      </td>
    </tr>
    <tr>
      <td>
        <span>WED</span>
      </td>
      <td class="p-l-10 p-r-10">
        <my-switch [(ngModel)]="schedule.WE.enabled"></my-switch>
      </td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.WE.timeFrom">From</input-text>
      </td>
      <td class="p-l-5 p-r-5">•</td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.WE.timeTo">To</input-text>
      </td>
    </tr>
    <tr>
      <td>
        <span>THU</span>
      </td>
      <td class="p-l-10 p-r-10">
        <my-switch [(ngModel)]="schedule.TH.enabled"></my-switch>
      </td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.TH.timeFrom">From</input-text>
      </td>
      <td class="p-l-5 p-r-5">•</td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.TH.timeTo">To</input-text>
      </td>
    </tr>
    <tr>
      <td>
        <span>FRI</span>
      </td>
      <td class="p-l-10 p-r-10">
        <my-switch [(ngModel)]="schedule.FR.enabled"></my-switch>
      </td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.FR.timeFrom">From</input-text>
      </td>
      <td class="p-l-5 p-r-5">•</td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.FR.timeTo">To</input-text>
      </td>
    </tr>
    <tr>
      <td>
        <span>SAT</span>
      </td>
      <td class="p-l-10 p-r-10">
        <my-switch [(ngModel)]="schedule.SA.enabled"></my-switch>
      </td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.SA.timeFrom">From</input-text>
      </td>
      <td class="p-l-5 p-r-5">•</td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.SA.timeTo">To</input-text>
      </td>
    </tr>
    <tr>
      <td>
        <span>SUN</span>
      </td>
      <td class="p-l-10 p-r-10">
        <my-switch [(ngModel)]="schedule.SU.enabled"></my-switch>
      </td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.SU.timeFrom">From</input-text>
      </td>
      <td class="p-l-5 p-r-5">•</td>
      <td>
        <input-text [options]="options" [customClass]="'form-control-gray'" [(ngModel)]="schedule.SU.timeTo">To</input-text>
      </td>
    </tr>
  </table>

  <button class="btn btn-block m-t-15" (click)="onUpdate.emit(schedule)">Update</button>

  <ng-content></ng-content>
</div>