<div class="visit-card-container">
  <div class="page-aside" *ngIf="card$ | async as card">
    <ul class="aside-menu">
      <li routerLinkActive="active">
        <div>
          <svg width="22" height="22" viewBox="0 0 22 22">
            <defs>
              <path id="a" d="M11 22C4.925 22 0 17.075 0 11S4.925 0 11 0s11 4.925 11 11-4.925 11-11 11zm0-2a9 9 0 1 0 0-18 9 9 0 0 0 0 18zM10 7a1 1 0 0 1 2 0v4a1 1 0 0 1-2 0V7zm.293 7.707a1 1 0 1 1 1.414-1.414 1 1 0 0 1-1.414 1.414z"/>
            </defs>
            <use fill="#0c242a" fill-rule="nonzero" xlink:href="#a"/>
          </svg>
          <a [routerLink]="['/business-cards', 'card', card.id, 'info']">INORMATION</a>
        </div>
      </li>
      <!--<li routerLinkActive="active">-->
        <!--<div>-->
          <!--<svg width="15" height="24" viewBox="0 0 15 24">-->
            <!--<path fill="none" fill-rule="evenodd" stroke="#0C242A" stroke-width="1.8" d="M1.465 1h1.523c.14 0 .273.055.372.154l10.5 10.473a.527.527 0 0 1 0 .746L3.36 22.846a.527.527 0 0 1-.372.154H1.389A.39.39 0 0 1 1 22.61v-.228c0-.104.031-.207.09-.293l6.584-9.793a.527.527 0 0 0-.002-.59l-6.58-9.641A.527.527 0 0 1 1 1.768v-.303C1 1.208 1.208 1 1.465 1z"/>-->
          <!--</svg>-->
          <!--<a [routerLink]="['/visit-cards', 'card', 0, 'connected']">CONNECTED GEOSPOT</a>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="page-content-width-aside">

    <div class="flex a-i-center j-c-space-between">
      <a [routerLink]="['/', 'business-cards', 'my']" class="back-link">Visit cards</a>
    </div>


    <router-outlet></router-outlet>
  </div>
</div>