<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>Why are there Ads on my free Geomain Number page?</accordion-heading>
    <p>
      All services on the internet that are free need to cover their costs and leverage
      advertising as a way of doing this. This is why all free Geomain Number pages carry Ads.
      To enhance the experience of your page visitors, we do limit the free Geomain
      Number pages to just a single Advert.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Are there any ads on the Geomain Name pages?</accordion-heading>
    <p>
      Because Geomain Names are paid for, we do not serve any Ads on the (Personal Category)
      Geomain Name pages. We do however have provisions made for a single Banner Ad and a
      single Video Ad on the Business and Government Category pages where the Registrant’s
      own promotional Ads can run. No third party or external Ads are served by us on this page.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Where can I buy Ads to show on my page?</accordion-heading>
    <p>
      If you have a Business or Government category Geomain Name, you will need to contact your
      Accredited Geomain Registrar who can assist you in purchasing Ads for your page.
      Once you complete the purchase, then Ads will automatically be enabled on your Page.
      You do however need to ensure that you have uploaded your Banner Ad and/or your Video
      Ad link or File to your Ad Repository. You can do this by signing in to your Geomain Page.
    </p>
  </accordion-group>
</accordion>