.photo-list {
  max-width: 100%;
  position: relative;
  min-height: 102px;

  &.photo-list-editable {
    padding-right: 151px;
  }

  .load-image-form {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.photo-item {
  width: 136px;
  height: 102px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  a:not(.remove-btn) {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.load-image {
  width: 136px;
  height: 102px;
  border-radius: 4px;
  border: 1px dotted #979797;
  text-align: center;
  padding: 20px 15px 0;
  cursor: pointer;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }

  .load-plus {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    margin: 0 auto 10px;
    background: #859194;
    position: relative;

    &:before, &:after {
      content: "";
      position: absolute;
      background: #fff;
    }

    &:before {
      width: 13px;
      height: 1px;
      top: 50%;
      left: 50%;
      margin-left: -7px;
      margin-top: -1px;
    }

    &:after {
      width: 1px;
      height: 13px;
      top: 50%;
      left: 50%;
      margin-top: -7px;
      margin-left: -1px;
    }
  }

  span {
    display: block;
    font-size: 8px;
    font-weight: 600;
    line-height: 1.38;
    text-align: center;
    color: #859194;
    text-transform: uppercase;
  }
}