<div class="content relative p-20">
  <div class="photo-list" [ngClass]="{ 'photo-list-editable' : helpers.isMine(geomain.ownerId)}">
    <div #slider>
      <div *ngFor="let img of imageList$ | async">
        <div class="photo-item">
          <a [href]="img.imageUrl" data-fancybox="photo"><img [src]="img.imageUrl" alt=""></a>
          <a class="remove-btn" [attr.data-id]="img.id" *ngIf="helpers.isMine(geomain.ownerId)">
            <img [src]="helpers.img('trash.svg')" alt="" >
          </a>
        </div>
      </div>
    </div>

    <form class="load-image-form" #form *ngIf="helpers.isMine(geomain.ownerId)">
      <div class="load-image">
        <div class="load-plus"></div>
        <span>
          Drag and drop or click to add files
        </span>
        <input type="file" name="file" (change)="uploadImage(form)">
      </div>
    </form>

  </div>

  <loader #loadLoader></loader>

</div>

<confirm #confirm>
  Are you sure you want to delete this image?
  <loader #loader></loader>
</confirm>