<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>Can anyone view the WHOIS Record of a Geomain?</accordion-heading>
    <p>
      The WHOIS record for a Geomain can be viewed by anyone by clicking on the WHOIS link
      in the main menu, and then entering the Geomain Name or Number you wish to query.
      If DPP (Dynamic Privacy Protect) is enabled by Registrant at that time,
      then no Private information will display.
    </p>
  </accordion-group>
</accordion>