<div class="content">
  <div class="p-20">
    <div class="photo-list">
      <form class="load-image-form" #form>
        <div class="load-image">
          <div class="load-plus"></div>
          <span>
          Drag and drop or click to add files
          </span>
          <input type="file" name="file" (change)="uploadImage(form)">
        </div>
      </form>
    </div>
  </div>
  <hr class="m-b-0 m-t-5">
  <form class="form-container">
    <input-text class="form-item" value="https://www.youtube.com/watch?v=wy4C9am_gPU7eifuoeifaljf">
      Video link
    </input-text>
  </form>
</div>