.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: top;
  }
}

.load-image {
  width: 136px;
  height: 102px;
  border-radius: 4px;
  border: 1px dotted #979797;
  text-align: center;
  padding: 20px 15px 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }

  .load-plus {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    margin: 0 auto 10px;
    background: #859194;
    position: relative;

    &:before, &:after {
      content: "";
      position: absolute;
      background: #fff;
    }

    &:before {
      width: 13px;
      height: 1px;
      top: 50%;
      left: 50%;
      margin-left: -7px;
      margin-top: -1px;
    }

    &:after {
      width: 1px;
      height: 13px;
      top: 50%;
      left: 50%;
      margin-top: -7px;
      margin-left: -1px;
    }
  }

  span {
    display: block;
    font-size: 8px;
    font-weight: 600;
    line-height: 1.38;
    text-align: center;
    color: #859194;
    text-transform: uppercase;
  }
}