.card {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.03);
  padding: 25px;
}

.card-title {
  font-size: 11px;
  color: #606d70;
}

.plan {
  font-size: 29px;
  font-weight: 600;
  color: #0c242a;
}

.card-footer {
  margin-top: 30px;

  p {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-transform: uppercase;
  }
}