ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap : wrap;
  margin-right: -18px;

  li {
    flex: 1;
    margin: 0 18px 18px 0;
    min-width: 250px;
    max-width: 250px;
  }
}