.remodal {
  padding: 65px 55px;
  border-radius: 5px !important;
  background-color: #f6f6f9;
  max-width: 535px !important;
}

.close-modal {
  position: absolute;
  top: -10px;
  left: 100%;
  margin-left: 10px;
  width: 40px;
  height: 40px;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -1px;
    width: 2px;
    height: 24px;
    background: #989a9d;
    border-radius: 2px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}