.panel-group {

  .panel {
    margin-bottom: 30px;
  }

  .dropup {
    .panel-title {
      .caret {
        transform : rotate(90deg);
        &:before {
          opacity: 0;
        }
      }
    }
  }

  .panel-title {
    font-size: 20px;
    font-weight: 600;
    color: #0c242a;
    padding: 10px 37px;
    position: relative;
    cursor: pointer;
    user-select: none;

    .caret {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      transition: .1s;

      &:before, &:after {
        content: "";
        background: #176bda;
        position: absolute;
        border-radius: 2px;
        transition: .1s;
      }

      &:before {
        width: 100%;
        height: 2px;
        top: 7px;
        left: 0;
      }

      &:after {
        height: 100%;
        width: 2px;
        top: 0;
        left: 7px;
      }
    }
  }

  .panel-body {
    padding-left: 37px;
  }
}