.aside-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 30px;

    &.active {
      a {
        color: #ff5f70;
      }
    }
  }

  a {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    letter-spacing: 0.8px;
    color: #0c242a;
    text-transform: uppercase;
    cursor: pointer;
  }
}


.page-aside {
  width: 215px;
  min-width: 215px;
  max-width: 215px;
  position: relative;
}

.page-content-width-aside {
  width: 100%;
  padding-left: 110px;
  min-height: 0;
  min-width: 0;
}

.aside-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 33px;

  > li {
    margin: 0 0 20px;
    position: relative;

    &.active {
      .aside-nested-menu {
        display: block;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 34px;
        background: #176bda;
      }

      div {
        a {
          color: #176bda;
        }
      }

      svg {
        use {
          fill : #176bda !important;
        }
      }
    }
  }

  div {
    display: flex;
    align-items: center;

    svg {
      margin-right: 20px;
      width: 20px;
      height: 20px;
      //object-fit: contain;
    }

    a {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      letter-spacing: 0.8px;
      color: #0c242a;
      padding: 7px 0;
    }
  }
}

.aside-nested-menu {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  list-style: none;
  display: none;

  a {
    opacity: 0.5;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.7px;
    color: #0c242a;
    text-shadow: 0 13px 34px rgba(28, 36, 78, 0.15);
    display: block;
    padding: 10px 0;
  }
}