.btn {
  padding: 0 30px;
  height: 46px;
  border-radius: 5px;
  background-color: #177ef3;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 13px 34px 0 rgba(28, 36, 78, 0.15);
  position: relative;
  text-decoration: none;
  z-index: 1;

  &.btn-small {
    height: 32px;
    font-size: 12px;
    padding: 0 15px;
  }

  &.btn-block {
    width: 100%;
  }

  &:disabled {
    opacity: .8;
    cursor: not-allowed;
  }

  &:not(:disabled) {

    &:hover {
      background: lighten(#177ef3, 3%);
      text-decoration: none;
    }

    &:active {
      background: darken(#177ef3, 3%);
      box-shadow: none;
    }

  }

  &.btn-danger {
    background-image: linear-gradient(237deg, #ff5f70, #f13d50);

    &:not(:disabled) {
      &:hover {
        background: lighten(#ff5f70, 3%);
      }

      &:active {
        background: darken(#ff5f70, 3%);
      }
    }
  }

  &.btn-cancel {
    background-image: linear-gradient(237deg, #c3c3c3, #a7a7a7);

    &:not(:disabled) {
      &:hover {
        background: lighten(#c3c3c3, 3%);
      }

      &:active {
        background: darken(#c3c3c3, 3%);
      }
    }
  }

  &.btn-bordered {
    background: transparent;

    border-radius: 5px;
    box-shadow: none;
    border: solid 2px rgba(255,255,255,.2);

    &:not(:disabled) {
      &:hover {
        background: rgba(255,255,255,.2);
      }

      &:active {
        background: rgba(255,255,255,.4);
      }
    }

    &.btn-border-blue {
      border: 2px solid #1d73e6;
      color: #1c73e5;

      &:not(:disabled) {
        &:hover {
          background: lighten(#1d73e6, 45%);
        }

        &:active {
          background: lighten(#1d73e6, 40%);
        }
      }

    }
  }
}

.back-link {
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.8px;
  color: #0c242a;
  text-transform: uppercase;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #0c242a;
  box-shadow: 0 13px 34px 0 rgba(28, 36, 78, 0.15);
  border-radius: 100%;
  cursor: pointer;
}

.action-btn {
  border: none;
  //background: #fff;
  background: transparent;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: rgba(12, 36, 42, .5);
    position: relative;

    &:before, &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: rgba(12, 36, 42, .5);
      position: absolute;
    }

    &:before {
      bottom: 100%;
      margin-bottom: 100%;
    }

    &:after {
      top: 100%;
      margin-top: 100%;
    }
  }
}

.add-button {
  background-image: linear-gradient(215deg, #ff5f70, #f13d50);
  box-shadow: 0 13px 34px 0 rgba(28, 36, 78, 0.15);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background: #f13d50;
  }

  &:active {
    box-shadow: none;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 2px;
  }

  &:before {
    width: 2px;
    height: 22px;
    margin: -11px 0 0 -1px;
  }

  &:after {
    width: 22px;
    height: 2px;
    margin: -1px 0 0 -11px;
  }
}