.dropdown {
  position: relative;
  > a {
    position: relative;
    padding-right: 10px;
    display: inline-flex;
    align-items: center;

    &:after {
      position: relative;
      top: 2px;
      margin-left: 11px;
      border: 2px solid transparent;
      border-top: 3px solid #000;
      content: "";
    }
  }

  &:hover {
    .dropdown-content {
      display: block;
    }

    > a {
      &:after {
        border: 2px solid transparent;
        border-bottom: 3px solid #000;
        top: 0;
      }
    }
  }
}

.dropdown-content {
  display: none;
  top: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.05);
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: flex;
    height: 42px;
    align-items: center;
    white-space: nowrap;
    padding-left: 25px;
    padding-right: 45px;

    &:hover {
      background: rgba(231, 227, 235, 0.6);
    }
  }
}



.form-select-label {
  position: relative;
  cursor: pointer;
  input {
    background-image: url("../../../Theme/img/select.svg") !important;
    background-position: right 20px center !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
  }

  &:not(.is-disabled) {
    input {
      &:disabled {
        color: #0c242a !important;
      }
    }
  }
}

.select-dropdown {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 17px 0 rgba(18, 23, 45, 0.2);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70%;
  padding-top: 25px;
  z-index: 10;
  max-height: 400px;
  overflow: auto;

  > div {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 15px 20px;
    cursor: pointer;
    position: relative;

    &[a-select-option] {
      &:hover {
        background: #eeedef;
      }
    }

    &:after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -4px;
      width: 11px;
      height: 5px;
      border: 2px solid #606d70;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      display: none;
    }

    &.selected {
      &:after {
        display: block;
      }
    }
  }
}

.to-top {
  .select-dropdown {
    top: auto !important;
    bottom: 10px !important;
  }
}