.form-container {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.03);
}

.form-item {

  border-top: 1px solid rgba(0,0,0,.1);
  display: block;

  &:first-child {
    border: none;
  }

  .form-control {
    border-radius: 5px;
  }
}

.working-hours-select {
  .select-dropdown {
    max-height: 600px !important;
  }
}