.home-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .slide {
    height: 100%;
  }

  .slick-dots {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    //display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    li {
      margin: 0 7px;
    }

    button {
      border: none;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }

    .slick-active {
      button {
        background: lighten(gray, 10%);
        box-shadow: 0 0 0 1px #fff;
      }
    }
  }
}