.photo-list {

  .slick-slide {
    padding-right: 15px;
  }

  .slick-list {
    border-radius: 4px;
  }

  .slick-prev,
  .slick-next {
    display: block;
    border: none;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 9;
    padding: 0;
    cursor: pointer;
    background: transparent;
    opacity: .7;

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border: 3px solid #fff;
      border-left: none;
      border-top: none;
      opacity: .7;
    }

    &:hover {
      opacity: 1;
    }
  }

  .slick-prev {
    left: 0;
    border-radius: 4px 0 0 4px;
    background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,0));

    &:after {
      transform: rotate(135deg) translate3d(-10px, -10px, 0);
    }
  }

  .slick-next {
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,0));

    &:after {
      transform: rotate(-45deg) translate3d(15px, 15px, 0);
    }
  }

}