table {

  border-collapse: collapse;

  &.table {
    width: 100%;
    text-align: left;

    th, td {
      min-height: 65px;
      height: 65px;
      vertical-align: middle;
      padding: 10px 25px;
      border: none;
    }

    th {
      //opacity: 0.5;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.67;
      letter-spacing: 0.7px;
      color: rgba(12, 36, 42, .5);
      text-transform: uppercase;
      vertical-align: middle;
    }

    td {
      font-size: 13px;
      font-weight: 600;
      color: #0c242a;
    }
    
    tbody {
      tr {
        &:hover {
          background: #eeedef;
        }

        &.table-search {
          td {
            padding: 0;
            min-height: 0;
            height: 0;
          }
        }
      }
    }

    &.table-small {

      th {
        height: 40px;
        max-height: 40px;
        font-size: 10px;
      }

      td {
        height: 36px;
        max-height: 36px;
        font-size: 13px;
        font-weight: 600;
      }

      tbody {
        tr {
          &:last-of-type {
            td {
              padding-bottom: 15px;
            }
          }
        }
      }
    }
  }
}