.link-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  box-shadow: 0 -2px 0 0 #d8d8d8 inset;

  li {
    margin-right: 50px;
  }

  a {
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #0c242a;
    text-transform: uppercase;

    &:hover {
      opacity : 1;
    }
  }

  .active {
    a {
      opacity: 1;
      box-shadow: 0 -2px 0 0 #ff5f70 inset;
    }
  }
}