.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    color: #0c242a;

    input {
        display: none;

        &:checked + i {
            border-color: transparent;
            background-image: linear-gradient(215deg, #ff5f70, #f13d50);

            &:before, &:after {
                display: block;
            }
        }
    }

    i {
        width: 14px;
        height: 14px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.86);
        border: solid 1px rgba(102, 107, 115, 0.73);
        margin-right: 10px;
        position: relative;

        &:before, &:after {
            content: "";
            display: none;
            position: absolute;
            background: #fff;
            height: 2px;
        }

        &:before {
            width: 6px;
            top: 6px;
            left: 0;
            transform: rotate(45deg);
            border-radius: 2px 0 0 2px;
        }

        &:after {
            width: 10px;
            top: 4px;
            left: 3px;
            transform: rotate(-45deg);
            border-radius: 0 2px 2px 0;
        }
    }

    &.disabled {
      opacity: .6;
    }

    &.disabled-checked {
        i {
          opacity: .6;
        }

        cursor: default;
    }
}