<div class="flex a-i-flex-start j-c-space-between">

  <div class="left-content">

    <div>
      <account-discount-card></account-discount-card>
    </div>
    <div class="m-t-25">
      <account-balance-card></account-balance-card>
    </div>

  </div>

  <div>

    <profile-avatar></profile-avatar>

    <form class="form-container">
      <input-text [disabled]="true" class="form-item" [value]="user?.firstName">First name</input-text>
      <input-text [disabled]="true" class="form-item" [value]="user?.lastName">Last name</input-text>
      <input-text [disabled]="true" class="form-item" [value]="'10 Dec 2018'">Registration Date</input-text>
      <input-text [disabled]="true" class="form-item" [value]="user?.email">Email</input-text>
      <input-text [disabled]="true" class="form-item" [value]="user?.businessPhone">Phone</input-text>
    </form>

    <h5 class="ttu m-t-35 m-b-20">LIcense documents</h5>

    <div class="content license-docs p-t-25 p-b-25 p-l-20 flex a-i-center">
      <p class="m-0 fw600">Registrar license document.pdf</p>
      <a class="remove-btn m-l-20">
        <img [src]="helpers.img('trash.svg')" alt="">
      </a>
    </div>

  </div>
</div>
