h5 {
  text-transform: uppercase;
}

.feed-container {
  &:hover {
    box-shadow: 0 12px 17px 0 rgba(18, 23, 45, 0.06);
  }
}

.feed-content {
  padding: 20px;

  p {
    font-size: 15px;
    line-height: 1.47;
    color: #0c242a;
    margin: 0;
  }
}

.feed-footer {
  padding: 16px 20px;
}

.feed-footer-time {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;

  img {
    margin-right: 10px;
  }
}