<div *ngIf="helpers.isMine(item.ownerId)">
  <h5 class="m-t-45 m-b-20">TYPE NEW MESSAGE</h5>
  <div class="content relative p-t-10 p-b-10 p-r-20 p-l-20 m-b-50">
    <div class="flex j-c-space-between a-i-flex-start">
      <div class="flex-item-10">
        <input-textarea [(ngModel)]="message">Type what’s new…</input-textarea>
      </div>
      <div class="p-t-15">
        <button class="btn btn-small" (click)="postMessage()" [disabled]="!message">Post in feed</button>
      </div>
    </div>
    <loader #loader></loader>
  </div>
</div>

<div *ngIf="(messages$ | async) as messages">
  <div *ngIf="messages.length">
    <h5 class="m-b-20 m-t-45">NEW FEED</h5>
    <div class="content m-b-40 feed-container" *ngFor="let message of messages">
      <div class="feed-content">
        <p>{{ message.message }}</p>
      </div>
      <hr class="m-0">
      <div class="feed-footer flex j-c-space-between a-i-center">
        <div class="feed-footer-time">
          <img [src]="helpers.img('clock.svg')" alt=""> {{ message.created | date : 'hh a: dd MMMM' }}
        </div>
        <div>
          <a class="remove-btn" (click)="deleteMessage(message.id)">
            <img [src]="helpers.img('trash.svg')" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!messages.length">
    <h5 class="m-b-20 m-t-45">No messages yet</h5>
  </div>
</div>

<confirm #confirm>
  Are you sure you want to delete this message?
  <loader #deleteLoader></loader>
</confirm>

