.auth-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  margin-top: 55px;
}

.auth-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}

.error {
  margin-top: 15px;
}