<modal #authModal (onClose)="onClose()">

    <div class="auth-header">
        <img [src]="helpers.img('logo-big.svg')" alt="">
    </div>

    <h2 class="ttu">Login to access Geomain</h2>

    <form [formGroup]="form" class="form-container" (submit)="login()" onsubmit="return false">
        <input-text [form]="form" formControlName="username" class="form-item">Email or phone number</input-text>
        <password [form]="form" formControlName="password" class="form-item">Password</password>
    </form>

    <div class="error" *ngIf="error">Invalid credentials</div>

    <div class="auth-footer">
        <button class="btn btn-danger ttu" (click)="login()">Sing in</button>
        <a class="fw600 ttu" (click)="showForgotPopup()" href="javascript:void(0)">Forgot Password?</a>
    </div>

    <loader #loader></loader>

</modal>