<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>Can I really just scan a QR Code to navigate?</accordion-heading>
    <p>
      Yes, Geomain is a pioneer of Scan and Navigate, and we expect this
      to become the norm in the future – along with Voice activated Navigation.
    </p>
  </accordion-group>
  <accordion-group>
    <accordion-heading>How can I scan a QR Code?</accordion-heading>
    <p>
      You can use the Geomain App to scan any Geomain QR Code.
    </p>
  </accordion-group>
</accordion>