.pagination-text {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 600;
  color: #0c242a;
}

.pagination {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      font-size: 13px;
      font-weight: 600;
      color: #808c91;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }

    a {
      min-width: 28px;
      height: 28px;
      padding: 0 5px;
      border-radius: 3px;
      border: solid 1px #c7cdd9;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #808c91;
      text-decoration: none;
      cursor: pointer;
    }

    .current {
      a {
        background: #c7cdd9;
        color: #0c242a;
      }
    }
  }
}