<div class="flex j-c-space-between a-i-center">
  <div class="pagination-text">
    Showing {{ pagination.from }} to {{ pagination.to }} of {{ pagination.totalElements }} elements
  </div>
  <div class="pagination">
    <ul>
      <li>Page</li>
      <li *ngFor="let page of showedPages; let i=index"
          [ngClass]="{current : pagination.page == i+1}">
        <a *ngIf="pagination.page == i+1">{{ i+1 }}</a>
        <a *ngIf="pagination.page !== i+1" (click)="changePage(i+1)">{{ i+1 }}</a>
      </li>
    </ul>
  </div>
</div>