.my-range-slider {
  height: 14px;
  overflow: hidden;

  > .irs {
    height: 3px;
    background-color: #0c242a;
    position: relative;
    top: 6px;

    > .irs {
      height: 0;
      overflow: hidden;
    }
  }

  .irs-slider {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    top: -8px;
    border: 2.5px solid #eeedef;
    background: #0c242a;
  }
}