<div class="flex j-c-space-between registrar-head m-b-30" *ngIf="user$ | async as user">
  <div>{{ user.businessName }}</div>
  <div>Avaliable: ${{ user.balance }} USD</div>
</div>

<div class="flex dashboard-widgets" *ngIf="data">
  <div class="content">
    <div class="dashboard-widget-value">{{ data?.countRegistrants }}</div>
    <div class="dashboard-widget-name">Registrants</div>
  </div>
  <div class="content">
    <div class="dashboard-widget-value">{{ data?.countNumberGeomain }}</div>
    <div class="dashboard-widget-name">Geomains sold</div>
  </div>
  <div class="content">
    <div class="dashboard-widget-value">{{ data?.amountDebitedAddons }}</div>
    <div class="dashboard-widget-name">Debited for Geomains</div>
  </div>
  <div class="content">
    <div class="dashboard-widget-value">{{ data?.amountDebitedAddons }}</div>
    <div class="dashboard-widget-name">Debited for Add-ons Servisces</div>
  </div>
</div>

<div class="dashboard-widgets flex j-c-space-between">
  <div class="content p-0 flex f-d-column">
    <div class="dashboard-widget-head">
      <div class="dashboard-widget-title">Balance graphs</div>
      <div class="dashboard-widget-filter">Last 7 days</div>
    </div>
    <div class="dashboard-widget-content flex-item-1 flex a-i-center">
      <canvas *ngIf="chartData" [data]="chartData" lineChart></canvas>
    </div>
  </div>
  <div class="content p-0">
    <dashboard-geonames></dashboard-geonames>
  </div>
</div>

<loader #loader></loader>
