.dashboard-widgets {
  .content {
    flex: 1;
    padding: 20px 25px;
    margin: 0 9px 18px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.dashboard-widget-value {
  font-size: 39px;
  font-weight: 600;
  color: #0c242a;
}

.dashboard-widget-name {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 600;
  color: #0c242a;
}

.dashboard-widget-head {
  border-bottom: 2px solid rgba(216, 216, 216, .5);
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.dashboard-widget-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.8px;
  color: #0c242a;
  text-transform: uppercase;
}

.dashboard-widget-filter {
  opacity: 0.5;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.7px;
  text-align: center;
  color: #0c242a;
  text-transform: uppercase;
}

.dashboard-widget-footer {
  border-top: 2px solid rgba(216, 216, 216, .5);
  display: flex;
  justify-content: flex-end;
  padding: 16px 25px 20px;
}

.active-geoname,
.expire-geoname {
  &:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #13da58;
    margin-right: 8px;
  }
}

.expire-geoname {
  &:before {
    background: #f13d50;
  }
}

.dashboard-widget-content {
  canvas {
    width: 100% !important;
  }
}