<div class="card">
  <div class="card-title">Discount plane</div>
  <div class="plan">Megaplan </div>
  <div class="flex j-c-space-between card-footer">
    <div>
      <div class="card-title">Detail</div>
      <p>2 yers terms: US $10,99 / Personla<br/> geoname: US $29,99.</p>
    </div>
    <div>
      <a class="btn btn-bordered" routerLink="/registrar/account/info">
        DETAIL
      </a>
    </div>
  </div>
</div>