<div class="geomain" [routerLink]="['/gn', geoname.name]">
  <div class="geomain-name">{{ geoname.name }}</div>
  <div class="geomain-user">
    <div class="geomain-user-title">Connected to:</div>
    <div class="geomain-user-container">
      <div class="geomain-user-icon">
        <img *ngIf="geoname.linkedGeospot.mainImage" [src]="geoname.linkedGeospot.mainImage" alt="">
      </div>
      <div>
        <div class="geomain-user-name">{{ geoname.linkedGeospot.tag }}</div>
        <div class="geomain-user-number">{{ geoname.linkedGeospot.numberMasked }}</div>
      </div>
    </div>
  </div>
  <div class="geomain-position">
    <div class="position-icon">
      <div></div>
    </div>
    <div class="position-data">
      <div>Lat: {{ geoname.linkedGeospot.lat }}</div>
      <div>Lon: {{ geoname.linkedGeospot.lon }}</div>
    </div>
  </div>
</div>