.geomain {
  cursor: pointer;
}

.geomain-name {
  font-size: 19px;
  font-weight: 600;
  color: #176bda;
  padding: 20px 15px 0;
  text-transform: uppercase;
  display: block;
}

.geomain-user {
  padding: 7px 0 0;
}

.geomain-user-title {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.7px;
  color: #0c242a;
  text-transform: uppercase;
  opacity: .5;
  padding: 0 15px;
}

.geomain-user-container {
  background: #eeedef;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 15px 15px 20px;
  display: flex;
  align-items: center;
}

.geomain-user-icon {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 8px solid #f9f9f9;
  background-color: #fff;
  margin-right: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.geomain-user-name {
  font-size: 16px;
  font-weight: 600;
  color: #0c242a;
}

.geomain-user-number {
  font-size: 14px;
  font-weight: 600;
  color: #176bda;
  margin-top: 5px;
}

.geomain-position {
  margin-top: 0;
  border: none;
}