.error {
  color: red;
  font-size: 11px;
  display: block;
  font-weight: 400;
  margin: 3px 0 0;
  text-align: left;
  div {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}