.dashboard-widget-head {
  border-bottom: 2px solid rgba(216, 216, 216, .5);
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.dashboard-widget-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.8px;
  color: #0c242a;
  text-transform: uppercase;
}

.dashboard-widget-filter {
  opacity: 0.5;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.7px;
  text-align: center;
  color: #0c242a;
  text-transform: uppercase;
}

.dashboard-widget-footer {
  border-top: 2px solid rgba(216, 216, 216, .5);
  display: flex;
  justify-content: flex-end;
  padding: 16px 25px 20px;
}