<div class="content p-0">
  <div class="dashboard-widget-head">
    <div class="dashboard-widget-title">Last created geonames</div>
    <div class="dashboard-widget-filter">VIEW ALL</div>
  </div>
  <div class="dashboard-widget-content">
    <table class="table table-small">
      <thead>
      <tr>
        <th>Id</th>
        <th>Geoname</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of geonames$ | async ">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.expiryDate | date : 'dd MMM yy' }}</td>
        <td><span class="active-geoname">Active</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="dashboard-widget-footer">
    <button class="btn btn-small">+ Create new</button>
  </div>
</div>