<h2>Personal Settings</h2>

<ul class="link-tabs">
  <li routerLinkActive="active"><a [routerLink]="['basic']">Basic Info</a></li>
  <li routerLinkActive="active"><a [routerLink]="['security']">Security Settings</a></li>
</ul>

<router-outlet></router-outlet>