<div class="flex j-c-space-between registrar-head m-b-35">
  <div>TOP GEOMAINS LTD. HK</div>
  <div>Avaliable: $300.00 USD</div>
</div>

<div class="flex">
  <div class="flex-item-1">
    <h3 class="m-t-0">Sally Geomain name found</h3>
    <p>
      Changing this information will also affect your name and
      appearance on all other Ionic websites like the Forum and Market
    </p>
  </div>
  <div class="flex-item-1">
    <h5 class="ttu m-t-0 m-b-20">Geomain information</h5>
    <div class="form-container">
      <input-text class="form-item" value="Sally">Geomain</input-text>
      <input-text class="form-item" value="Aug 31, 2018">Activation date</input-text>
      <input-text class="form-item" value="Aug 31, 2018">Expire date</input-text>
      <div class="form-item">
        <radiogroup name="Geomian type">
          <radio class="m-r-50" radioname="type">Personal</radio>
          <radio class="m-r-50" radioname="type">Business</radio>
          <radio radioname="type" [checked]="true">Government</radio>
        </radiogroup>
      </div>
      <div class="form-item p-l-20 p-r-20 p-b-15 range-slider">
        <p class="p-small fw600 m-b-0">Terms</p>
        <p class="m-t-0 fw600 m-b-15">{{ years }} year(s)</p>
        <range [options]="rangeOptions" [(ngModel)]="years"></range>
      </div>
      <input-text class="form-item" value="Active">Status</input-text>
      <div class="form-item renew-form-info">
        <div class="p-l-20 p-r-20 p-t-15 p-b-15">
          <div class="flex j-c-space-between">
            <div>
              <h4 class="m-b-0 m-t-0">Premium</h4>
              <p class="m-t-5 p-small">
                New York's top cocktail bars are facing something of a crisis. A fashionable global protest movement
                has nightlife venues scrambling.
              </p>
            </div>
            <div>
              <my-switch></my-switch>
            </div>
          </div>
          <div>
            <p class="p-small m-t-40 m-b-5">Totlal price</p>
            <div class="price">US $15,17</div>
          </div>
          <div>
            <p class="p-small m-t-40 m-b-5">Totlal price</p>
            <p class="p-info m-t-0 m-b-5">
              2 yers terms: US $10,99 / Personla geoname: US $29,99 / Premium geoname: US $9,99
            </p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="ttu m-t-45">+ Add advertisement subscription</h4>
    <div class="m-t-25">
      <button class="btn m-r-30">RENEW GEOMAIN</button>
      <button class="btn btn-cancel">CANCEL</button>
    </div>
  </div>
</div>