.renew-form-info {
  h4 {
    font-size: 15px;
  }

  .price {
    font-size: 29px;
    font-weight: 600;
    color: #0c242a;
  }
}

.range-slider {
  p {
    &:not(.p-small) {
      color: #0c242a;
    }
  }
}