<accordion [showArrows]="true" [closeOthers]="true">
  <accordion-group>
    <accordion-heading>1. Introduction</accordion-heading>
    <p>
      1. We are committed to safeguarding the privacy of our website users and our customers and customer
      personnel; in this policy we explain how we will handle your personal data.
    </p>
    <p>
      2. This policy applies to all Geomain websites, App(s) and services, including those available at
      <a href="www.geomain.com">www.geomain.com</a>, <a href="www.geomain.org">www.geomain.org</a> and our
      Apps on the Apple and Google Play Stores.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>2. How we use your personal data</accordion-heading>
    <p>
      1. In this Section 2 we have set out

      <span>
                        1.1. the general categories of personal data that we may process;
                    </span>
      <span>
                        1.2. in the case of personal data that we did not obtain directly from you, the source and specific categories of that data;
                    </span>
      <span>
                        1.3. the purposes for which we may process personal data;
                    </span>
      <span>
                        1.4. the legal bases of the processing.
                    </span>
    </p>
    <p>
      2. We may process data about your use of our websites, App(s) and services ("usage data"). The usage
      data may include your IP address, geographical location, browser type and version, operating system,
      referral source, length of visit, page views and website navigation paths, as well as information
      about the timing, frequency and pattern of your service use. The source of the usage data is our
      analytics tracking system. This usage data may be processed for the purposes of analysing the use of
      the websites, App(s) and services. The legal basis for this processing is primarily our legitimate
      interests, namely monitoring and improving our websites, App(s) and services.
    </p>
    <p>
      3. We may process your website account data ("account data"). The account data may be processed for
      the purposes of operating our websites and/or App(s), providing our services, ensuring the security
      of our websites and/or, App(s) and other services, maintaining back-ups of our databases and
      communicating with you. The legal basis for this processing is our legitimate interests, namely the
      proper administration of our websites, App(s) and business.
    </p>
    <p>
      4. We may process your personal data incorporated into Docular documents or that you provide to us
      in the course of the use of our services ("service data"). The service data may be processed for the
      purposes of providing our services, ensuring the security of our websites, App(s) and services,
      maintaining back-ups of our databases and communicating with you. The legal basis for this
      processing is our legitimate interests, namely the proper administration of our websites, App(s) and
      business.
    </p>
    <p>
      5. We may process information that you post for publication on our websites, App(s) or through our
      services ("publication data"). The publication data may be processed for the purposes of enabling
      such publication and administering our websites, App(s) and services. The legal basis for this
      processing is our legitimate interests, namely the proper administration of our websites, App(s) and
      business.
    </p>
    <p>
      6. We may process information relating to transactions, including purchases of services, that you
      enter into with us and/or through our websites, App(s) ("transaction data"). The transaction data
      may be processed for the purpose of supplying the services and keeping proper records of those
      transactions. The legal basis for this processing is the performance of a contract between you and
      us and/or taking steps, at your request, to enter into such a contract and our legitimate interests,
      namely our interest in the proper administration of our websites, App(s) and business.
    </p>
    <p>
      7. We may process information that you provide to us for the purpose of subscribing to our
      newsletters and other notifications ("newsletter data"). The newsletter data may be processed for
      the purposes of sending you the newsletters and other notifications, and analysing their use. The
      legal basis for this processing is your consent.
    </p>
    <p>
      8. We may process information contained in or relating to any communication that you send to us by
      email and/or in-App messaging or any similar communications system ("message data"). The message
      data may include the communication content and metadata associated with the communication. Our
      website will generate the metadata associated with communications made using the website and/or
      App(s) contact forms. The message data may be processed for the purposes of communicating with you
      (including where appropriate sending you sales or marketing materials) and record-keeping. The legal
      basis for this processing is our legitimate interests, namely the proper administration of our
      websites, App(s) and business and communications with users, prospective customers and customers.
    </p>
    <p>
      9. We may process any of your personal data identified in the other provisions of this policy where
      necessary for the establishment, exercise or defence of legal claims, whether in court proceedings
      or in an administrative or out-of-court procedure. The legal basis for this processing is our
      legitimate interests, namely the protection and assertion of our legal rights, your legal rights and
      the legal rights of others.
    </p>
    <p>
      10. In addition to the specific purposes for which we may process your personal data set out in this
      Section 2, we may also process any of your personal data where such processing is necessary for
      compliance with a legal obligation to which we are subject, or in order to protect your vital
      interests or the vital interests of another natural person.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>3. Providing your personal data to others</accordion-heading>
    <p>
      1. We may disclose your enquiry data to one or more third parties for the purpose of enabling them
      to contact you so that they can otherwise offer, market and/or sell to you relevant professional
      services.
    </p>
    <p>
      2. We may disclose your personal data to our insurers and/or professional advisers insofar as
      reasonably necessary for the purposes of obtaining and maintaining insurance coverage, managing
      risks, obtaining professional advice and managing legal disputes.
    </p>
    <p>
      3. Financial transactions relating to our websites, App(s) and services are handled by our payment
      services providers including but not limited to PayPal. We will share transaction data with our
      payment services providers only to the extent necessary for the purposes of processing your
      payments, refunding such payments and dealing with complaints and queries relating to such payments
      and refunds. You can find information about the payment services providers' privacy policies and
      practices at
      <a href="https://www.paypal.com/en/webapps/mpp/ua/privacy-full">
        https://www.paypal.com/en/webapps/mpp/ua/privacy-full
      </a> .
    </p>
    <p>
      4. In addition to the specific disclosures of personal data set out in this Section 3, we may also
      disclose your personal data where such disclosure is necessary for compliance with a legal
      obligation to which we are subject, or in order to protect your vital interests or the vital
      interests of another natural person.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>4. International transfers of your personal data</accordion-heading>
    <p>
      1. n this Section 4, we provide information about the circumstances in which your personal data may
      be transferred to countries outside the European Economic Area (EEA).
    </p>
    <p>
      2. The servers of some of our cloud services providers are situated in in the USA and Singapore. The
      cloud services providers in question include Amazon Web Services (www.aws.amazon.com), ProtonMail
      (www.protonmail.com) for mail services and Slack Technologies, Inc (team communications). Transfers
      to the USA may be protected on a best effort basis by appropriate safeguards, namely the use of
      standard data protection clauses adopted or approved by the European Commission.
    </p>
    <p>
      3. You acknowledge that personal data that you submit for publication through our websites, App(s)
      or services may be available, via the internet, around the world. We cannot prevent the use (or
      misuse) of such personal data by others.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>5. Retaining and deleting personal data</accordion-heading>
    <p>
      1. This Section 5 sets out our data retention policies and procedures, which are designed to help
      ensure that we comply with our legal obligations in relation to the retention and deletion of
      personal data.
    </p>
    <p>
      2. Personal data that we process for any purpose or purposes shall not be kept for longer than is
      necessary for that purpose or those purposes, subject to our Data retention policy on the Block
      chain.
    </p>
    <p>
      3. We will retain your personal data for the following periods, at the end of which periods it will
      be deleted or anonymised:
      <span>
                        3.1. usage data will be retained for a period of 36 months following the date of collection;
                    </span>
      <span>
                        3.2. account data and service data will be retained for so long as the associated account
                        remains open and for a period of up to 1 year following the end of the year during which
                        the corresponding account was closed;
                    </span>
      <span>
                        3.3. publication data will be retained for the period of publication and for a period of up
                        to following 12 months following the date it ceases to be published;
                    </span>
      <span>
                        3.4. transaction data will be retained for a period of up to 5 years following the end of the
                        year during which the relevant transaction occurred;
                    </span>
      <span>
                        3.5. newsletter data will be retained for so long as the relevant person remains opted-in to
                        notifications;
                    </span>
      <span>
                        3.6. message data will be retained for a period of up to 5 years following the end of the
                        year during which the relevant communication was sent.
                    </span>
    </p>
    <p>
      4. Notwithstanding the other provisions of this Section 5, we may retain your personal data where
      such retention is necessary for compliance with a legal obligation to which we are subject, or in
      order to protect your vital interests or the vital interests of another natural person or ourselves.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>6. Amendments</accordion-heading>
    <p>
      1. We may update this policy from time to time by publishing a new version on our website.
    </p>
    <p>
      2. We may at our sole discretion notify you periodically of any significant changes to this policy
      by email.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>7. Your rights</accordion-heading>
    <p>
      1. In this Section 7, we have summarised the rights that you have under data protection law. Some of
      the rights are complex, and not all of the details have been included in our summaries. Accordingly,
      you should read the relevant laws and guidance from the regulatory authorities for a full
      explanation of these rights.
    </p>
    <p>
      2. Your principal rights under data protection law are:
      <span>
                        2.1. the right to access;
                    </span>
      <span>
                        2.2. the right to rectification;
                    </span>
      <span>
                        2.3. the right to erasure;
                    </span>
      <span>
                        2.4. the right to restrict processing;
                    </span>
      <span>
                        2.5. the right to object to processing;
                    </span>
      <span>
                        2.6. the right to data portability;
                    </span>
      <span>
                        2.7. the right to complain to a supervisory authority;
                    </span>
      <span>
                        2.8. the right to withdraw consent.
                    </span>
    </p>
    <p>
      3. You have the right to confirmation as to whether or not we process your personal data and, where
      we do, access to the personal data, together with certain additional information. That additional
      information includes details of the purposes of the processing, the categories of personal data
      concerned and the recipients of the personal data. Providing the rights and freedoms of others are
      not affected, we will make available via (online access) a copy of your personal data.
    </p>
    <p>
      4. You have the right to rectify yourself any inaccurate personal data about you, taking into
      account the purposes of the processing, to have any incomplete personal data about you completed.
    </p>
    <p>
      5. In some circumstances you may have the right to the erasure of your personal data without undue
      delay and subject to Block chain limitations on erasing of data. Those circumstances include: the
      personal data are no longer necessary in relation to the purposes for which they were collected or
      otherwise processed; the processing is for direct marketing purposes; and the personal data have
      been unlawfully processed. However, there are certain general exclusions of the right to erasure.
      Those general exclusions include where processing is necessary: for exercising the right of freedom
      of expression and information; for compliance with a legal obligation; or for the establishment,
      exercise or defence of legal claims.
    </p>
    <p>
      6. In some circumstances you have the right to restrict the processing of your personal data. Those
      circumstances are: you contest the accuracy of the personal data; processing is unlawful but you
      oppose erasure; we no longer need the personal data for the purposes of our processing, but you
      require personal data for the establishment, exercise or defence of legal claims; and you have
      objected to processing, pending the verification of that objection. Where processing has been
      restricted on this basis, we may continue to store your personal data. However, we will only
      otherwise process it: with your consent; for the establishment, exercise or defence of legal claims;
      for the protection of the rights of another natural or legal person; or for reasons of important
      public interest.
    </p>
    <p>
      7. You have the right to object to our processing of your personal data on grounds relating to your
      particular situation, but only to the extent that the legal basis for the processing is that the
      processing is necessary for: the performance of a task carried out in the public interest or in the
      exercise of any official authority vested in us; or the purposes of the legitimate interests pursued
      by us or by a third party. If you make such an objection, we will cease to process the personal
      information unless we can demonstrate compelling legitimate grounds for the processing which
      override your interests, rights and freedoms, or the processing is for the establishment, exercise
      or defence of legal claims.
    </p>
    <p>
      8. You have the right to object to our processing of your personal data for direct marketing
      purposes (including profiling for direct marketing purposes). If you make such an objection, we will
      cease to process your personal data for this purpose and may suspend your account with us.
    </p>
    <p>
      9. You have the right to object to our processing of your personal data for scientific or
      historical research purposes or statistical purposes on grounds relating to your particular
      situation, unless the processing is necessary for the performance of a task carried out for reasons
      of public interest.
    </p>
    <p>
      10. To the extent that the legal basis for our processing of your personal data is consent, and such
      processing is carried out by automated means, you have the right to receive your personal data from
      us in a structured, commonly used and machine-readable format. However, this right does not apply
      where it would adversely affect the rights and freedoms of others or cause us to incur undue costs.
    </p>
    <p>
      11. If you consider that our processing of your personal information infringes data protection laws,
      you have a legal right to lodge a complaint with a supervisory authority responsible for data
      protection. You may do so in the EU member state of your habitual residence, your place of work or
      the place of the alleged infringement.
    </p>
    <p>
      12. To the extent that the legal basis for our processing of your personal information is consent,
      you have the right to withdraw that consent at any time. Withdrawal will not affect the lawfulness
      of processing before the withdrawal.
    </p>
    <p>
      13. You may exercise any of your rights in relation to your personal data by written notice to us.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>8. Third party websites & App(s)</accordion-heading>
    <p>
      1. Our websites and/or App(s) includes hyperlinks to, and details of, third party websites and/or
      App(s).
    </p>
    <p>
      2. We have no control over, and are not responsible for, the privacy policies and practices of third
      parties.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>9. Updating information</accordion-heading>
    <p>
      1. Please let us know if the personal information that we hold about you needs to be corrected or
      updated. We will tell you how you can edit/update it.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>10. Acting as a data processor</accordion-heading>
    <p>
      1. In respect of personal data which falls within the scope of any data processing contract that we
      have entered into, we do sometimes act as a controller of that personal data; in addition to being a
      processor of that personal data.
    </p>
    <p>
      2. Our legal obligations as a processor are instead set out in the contract between us and the
      relevant controller.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>11. About cookies</accordion-heading>
    <p>
      1. A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a
      web server to a web browser or to your mobile device and is stored by the browser. The identifier is
      then sent back to the server each time the browser requests a page from the server.
    </p>
    <p>
      2. Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be
      stored by a web browser and will remain valid until its set expiry date, unless deleted by the user
      before the expiry date; a session cookie, on the other hand, will expire at the end of the user
      session, when the web browser is closed.
    </p>
    <p>
      3. Cookies do not typically contain any information that personally identifies a user, but personal
      information that we store about you may be linked to the information stored in and obtained from
      cookies.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>12. Cookies that we use</accordion-heading>
    <p>
      1. We use cookies for the following purposes:
      <span>
                        1.1. authentication and navigation - we use cookies to identify you when you visit our websites,
                        App(s) and as you navigate our websites, App(s);
                    </span>
      <span>
                        1.2. shopping cart - we use cookies to maintain the state of shopping carts as you navigate our
                        websites, App(s);
                    </span>
      <span>
                        1.3. personalisation - we use cookies to store information about your preferences and to
                        personalise our websites, App(s) for you;
                    </span>
      <span>
                        1.4. security - we use cookies as an element of the security measures used to protect user
                        accounts, including preventing fraudulent use of login credentials, and to protect our websites,
                        App(s) and services generally; and
                    </span>
      <span>
                        1.5. analysis - we use cookies to help us to analyse the use and performance of our websites,
                        App(s) and services.
                    </span>
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>13. Cookies used by our service providers</accordion-heading>
    <p>
      1. We use Google Analytics to analyse the use of our website. Google Analytics gathers information
      about website use by means of cookies. The information gathered relating to our websites, App(s) is
      used to create reports about the use of our website. Google's privacy policy is available at:
      <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>.
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>14. Managing cookies</accordion-heading>
    <p>
      1. Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing
      so vary from browser to browser, and from version to version. You can however obtain up-to-date
      information about blocking and deleting cookies via these links:

      <span>
                        1.1. <a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a> (Chrome);
                    </span>
      <span>
                        1.2. <a
           href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a> (Firefox);
                    </span>
      <span>
                        1.3. <a href="http://www.opera.com/help/tutorials/security/cookies/">http://www.opera.com/help/tutorials/security/cookies/</a> (Opera);
                    </span>
      <span>
                        1.4. <a
           href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</a> (Internet Explorer);
                    </span>
      <span>
                        1.5. <a href="https://support.apple.com/kb/PH21411">https://support.apple.com/kb/PH21411</a> (Safari);
                    </span>
      <span>
                        1.6. <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</a> (Edge).
                    </span>
    </p>
    <p>
      2. Blocking all cookies will have a negative impact upon the usability of many websites, App(s).
    </p>
    <p>
      3. If you block cookies, you will not be able to use all the features on our websites, App(s).
    </p>
  </accordion-group>

  <accordion-group>
    <accordion-heading>15. Our details</accordion-heading>
    <p>
      1. Our legal name is Geomain Pte. Limited.
    </p>
    <p>
      2. We are registered in Singapore number 201736408G, and our principal office is at #16-16, 10 Anson
      Road, International Plaza, Singapore 079903. You can contact us:
      <span>
                        2.1. by post, using the address given above;
                    </span>
      <span>
                        2.2. using our website/App contact forms;
                    </span>
      <span>
                        2.3. by telephone, on any contact number published on our websites, App(s) from time to time; or
                    </span>
      <span>
                        2.4. by email, using any email address published on our websites, App(s) from time to time.
                    </span>
    </p>
  </accordion-group>

</accordion>