<accordion [showArrows]="true" [closeOthers]="false">
  <accordion-group>
    <accordion-heading>Why do you need to verify my Email ID and phone?</accordion-heading>
    <p>
      Your Geomain number and QR Code is sent to you exclusively via Email.
      Your email is hence verified to ensure that you will indeed receive your Geomain once
      this is registered. Your phone is verified to validate that you are indeed the owner
      of that phone number. Both these features enhance user experience making it more
      secure and efficient.
    </p>
  </accordion-group>
</accordion>