<notification-list></notification-list>

<main class="main">

    <header-component></header-component>

    <div class="content-block">

        <div class="container relative">

            <router-outlet></router-outlet>

        </div>

    </div>

    <footer-component></footer-component>


</main>